Repository explore-siargao/es-main, pull requests merged in 2024-06, with the labels that each got.

#67 [Develop] Feature remaining rental endpoints for rest api v2
  apps/api/package.json
  apps/api/src/routes/api/rentals-v2/index.ts
  apps/api/src/routes/api/rentals-v2/services/addOns.ts
  apps/api/src/routes/api/rentals-v2/services/basicInfo.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/api/src/routes/api/rentals-v2/services/details.ts
  apps/api/src/routes/api/rentals-v2/services/finishedSections.ts
  apps/api/src/routes/api/rentals-v2/services/locations.ts
  apps/api/src/routes/api/rentals-v2/services/photos.ts
  apps/api/src/routes/api/rentals-v2/services/rates.ts
  apps/api/src/routes/api/rentals-v2/services/status.ts
  apps/api/src/routes/mock/rentals/middleware/isHostRentalOwner2.ts
  packages/contract/src/Rental/type.ts
  packages/contract/src/Rental/zod.ts
  packages/database/mongo/models/dbRentalRates.ts
  packages/database/mongo/models/dbRentals.ts
  pnpm-lock.yaml
Labels: feature, backend, host account

#68 [Story-Feature] Implemented api v2 to login ang register manual
  apps/web/module/Authentication/hooks/useLogin2.ts
  apps/web/module/Authentication/hooks/useRegister2.ts
Labels: frontend, task, host account

#69 [Story-Feature] Add Emergency Contact
  apps/web/module/AccountSettings/hooks/useAddEmergencyContact.ts
Labels: frontend, task, host account

#70 [Story-Feature] story update personal info
  apps/web/module/AccountSettings/hooks/useUpdatePersonalInfo.ts
Labels: frontend, task, host account

#72 [Story-Feature] Remove EmergencyContact
  apps/web/module/AccountSettings/hooks/useRemoveEmergencyContact.ts
Labels: frontend, task, host account

#73 [Story-Feature] Implmented get session api v2 in frontend
  apps/web/common/hooks/useGetSessionUser.ts
Labels: frontend, task, host account

#74 [Story-Feature] Modified useAddGovernmentId
  apps/web/module/AccountSettings/hooks/useAddGovernmentId.ts
Labels: frontend, task, host account

#75 [Story-Feature] Implemented google login and register v2 in frontend
  apps/web/module/Authentication/hooks/useGoogleLogin.ts
  apps/web/module/Authentication/hooks/useGoogleRedirect.ts
Labels: frontend, task, host account

#76 [Story-Feature] Implemented logout api v2 to frontend
  apps/web/module/Authentication/hooks/useLogout.ts
Labels: frontend, task, host account

#77 [Story - Feature] Implemented forgot password api v2 to frontend
  apps/api/src/common/middleware/auth/isCsrfTokenValid3.ts
  apps/api/src/routes/api/users-v2/index.ts
  apps/api/src/routes/api/users-v2/services/auth.ts
  apps/web/module/Authentication/hooks/useForgotPassword.ts
Labels: frontend, task, host account

#78 [Story-Feature] Implemented update email api v2 to frontend
  apps/web/module/AccountSettings/hooks/useUpdateUserEmail.ts
Labels: frontend, task, host account

#79 [Story-Feature] Implemented deactivate account api v2 to frontend
  apps/web/module/AccountSettings/LoginSecurity/DeactivateAccount.tsx
  apps/web/module/AccountSettings/components/modals/DeactivateUserModal.tsx
  apps/web/module/AccountSettings/hooks/useDeactivateAccount.ts
Labels: frontend, task, host account

#80 [Story-Feature] Modified Be a Host hook to v2
  apps/api/src/routes/api/users-v2/services/personalInfo.ts
  apps/web/common/types/global.ts
  apps/web/module/AccountSettings/PersonalInfo/LegalName.tsx
  apps/web/module/AccountSettings/PersonalInfo/PhoneNumber.tsx
  apps/web/module/AccountSettings/PersonalInfo/index.tsx
  apps/web/module/AccountSettings/hooks/useUpdatePersonalInfo.ts
  apps/web/module/LandingPage/hooks/useChangeToHost.ts
Labels: frontend, task, host account

#81 [Story - Feature] Implemented can received email api v2 to frontend
  apps/web/module/Authentication/hooks/useSetReceivedEmail.ts
Labels: frontend, task, host account

#82 [Story-Feature] Implemented get profile api v2 to frontend
  apps/api/src/routes/api/users-v2/services/userProfile.ts
  apps/web/module/Profile/hooks/useGetProfile.ts
Labels: frontend, task, host account

#83 [Story-Feature] Modified useUpdateLanguage hook to v2
  apps/web/module/AccountSettings/hooks/useUpdateLanguage.ts
Labels: frontend, task, host account

#84 [Story-Feature] Implemented update profile api v2 to frontend
  apps/api/src/routes/api/users-v2/services/userProfile.ts
  apps/web/module/Profile/hooks/useUpdateProfile.ts
Labels: frontend, task, host account

#85 [Story-Feature] Modified useGetPaymentMethod hook to v2
  apps/web/module/Accommodation/Checkout/PaymentOptions.tsx
  apps/web/module/Accommodation/Checkout/index.tsx
  apps/web/module/AccountSettings/PaymentPayout/Payments.tsx
  apps/web/module/AccountSettings/hooks/useGetPaymentMethods.ts
Labels: frontend, task, host account

#86 [Story-Feature] Add Address
  apps/api/src/common/middleware/auth/isUserLoggedIn3.ts
  apps/api/src/routes/api/users-v2/index.ts
  apps/api/src/routes/api/users-v2/services/personalInfo.ts
  apps/web/common/types/global.ts
  apps/web/module/AccountSettings/PersonalInfo/Address.tsx
  apps/web/module/AccountSettings/PersonalInfo/EmergencyContact.tsx
  apps/web/module/AccountSettings/PersonalInfo/index.tsx
  apps/web/module/AccountSettings/hooks/useAddAddress.ts
  apps/web/module/AccountSettings/hooks/useAddEmergencyContact.ts
  apps/web/module/AccountSettings/hooks/useRemoveEmergencyContact.ts
  packages/contract/src/Address/zod.ts
  packages/contract/src/EmergencyContact/zod.ts
  packages/contract/src/PersonalInfo/zod.ts
  packages/database/mongo/models/dbEmergencyContacts.ts
Labels: backend, frontend, task, host account

#87 [Story-Feature] Modified useAddPaymentMethod hook to v2
  apps/web/module/AccountSettings/PaymentPayout/Payments.tsx
  apps/web/module/AccountSettings/components/modals/AddCardDetailModal.tsx
  apps/web/module/AccountSettings/hooks/useAddPaymentMethod.ts
Labels: frontend, task, host account

#88 [Feature-Develop] Implement users and personal info rest api v2 and test
  apps/api/src/common/middleware/auth/isCsrfTokenValid3.ts
  apps/api/src/common/middleware/auth/isUserLoggedIn3.ts
  apps/api/src/routes/api/users-v2/index.ts
  apps/api/src/routes/api/users-v2/services/auth.ts
  apps/api/src/routes/api/users-v2/services/personalInfo.ts
  apps/api/src/routes/api/users-v2/services/userProfile.ts
  apps/web/common/hooks/useGetSessionUser.ts
  apps/web/common/types/global.ts
  apps/web/module/AccountSettings/LoginSecurity/DeactivateAccount.tsx
  apps/web/module/AccountSettings/PersonalInfo/Address.tsx
  apps/web/module/AccountSettings/PersonalInfo/EmergencyContact.tsx
  apps/web/module/AccountSettings/PersonalInfo/LegalName.tsx
  apps/web/module/AccountSettings/PersonalInfo/PhoneNumber.tsx
  apps/web/module/AccountSettings/PersonalInfo/index.tsx
  apps/web/module/AccountSettings/components/modals/DeactivateUserModal.tsx
  apps/web/module/AccountSettings/hooks/useAddAddress.ts
  apps/web/module/AccountSettings/hooks/useAddEmergencyContact.ts
  apps/web/module/AccountSettings/hooks/useAddGovernmentId.ts
  apps/web/module/AccountSettings/hooks/useDeactivateAccount.ts
  apps/web/module/AccountSettings/hooks/useRemoveEmergencyContact.ts
  apps/web/module/AccountSettings/hooks/useUpdateLanguage.ts
  apps/web/module/AccountSettings/hooks/useUpdatePersonalInfo.ts
  apps/web/module/AccountSettings/hooks/useUpdateUserEmail.ts
  apps/web/module/Authentication/hooks/useForgotPassword.ts
  apps/web/module/Authentication/hooks/useGoogleLogin.ts
  apps/web/module/Authentication/hooks/useGoogleRedirect.ts
  apps/web/module/Authentication/hooks/useLogin2.ts
  apps/web/module/Authentication/hooks/useLogout.ts
  apps/web/module/Authentication/hooks/useRegister2.ts
  apps/web/module/Authentication/hooks/useSetReceivedEmail.ts
  apps/web/module/LandingPage/hooks/useChangeToHost.ts
  apps/web/module/Profile/hooks/useGetProfile.ts
  apps/web/module/Profile/hooks/useUpdateProfile.ts
  packages/contract/src/Address/zod.ts
  packages/contract/src/EmergencyContact/zod.ts
  packages/contract/src/PersonalInfo/zod.ts
  packages/database/mongo/models/dbEmergencyContacts.ts
Labels: story, frontend, host account

#89 [Develop - Story] Sync Updates to Implement payment methods api v2
  apps/api/src/common/middleware/auth/isCsrfTokenValid3.ts
  apps/api/src/common/middleware/auth/isUserLoggedIn3.ts
  apps/api/src/routes/api/users-v2/index.ts
  apps/api/src/routes/api/users-v2/services/auth.ts
  apps/api/src/routes/api/users-v2/services/personalInfo.ts
  apps/api/src/routes/api/users-v2/services/userProfile.ts
  apps/web/common/hooks/useGetSessionUser.ts
  apps/web/common/types/global.ts
  apps/web/module/AccountSettings/LoginSecurity/DeactivateAccount.tsx
  apps/web/module/AccountSettings/PersonalInfo/Address.tsx
  apps/web/module/AccountSettings/PersonalInfo/EmergencyContact.tsx
  apps/web/module/AccountSettings/PersonalInfo/LegalName.tsx
  apps/web/module/AccountSettings/PersonalInfo/PhoneNumber.tsx
  apps/web/module/AccountSettings/PersonalInfo/index.tsx
  apps/web/module/AccountSettings/components/modals/DeactivateUserModal.tsx
  apps/web/module/AccountSettings/hooks/useAddAddress.ts
  apps/web/module/AccountSettings/hooks/useAddEmergencyContact.ts
  apps/web/module/AccountSettings/hooks/useAddGovernmentId.ts
  apps/web/module/AccountSettings/hooks/useDeactivateAccount.ts
  apps/web/module/AccountSettings/hooks/useRemoveEmergencyContact.ts
  apps/web/module/AccountSettings/hooks/useUpdateLanguage.ts
  apps/web/module/AccountSettings/hooks/useUpdatePersonalInfo.ts
  apps/web/module/AccountSettings/hooks/useUpdateUserEmail.ts
  apps/web/module/Authentication/hooks/useForgotPassword.ts
  apps/web/module/Authentication/hooks/useGoogleLogin.ts
  apps/web/module/Authentication/hooks/useGoogleRedirect.ts
  apps/web/module/Authentication/hooks/useLogin2.ts
  apps/web/module/Authentication/hooks/useLogout.ts
  apps/web/module/Authentication/hooks/useRegister2.ts
  apps/web/module/Authentication/hooks/useSetReceivedEmail.ts
  apps/web/module/LandingPage/hooks/useChangeToHost.ts
  apps/web/module/Profile/hooks/useGetProfile.ts
  apps/web/module/Profile/hooks/useUpdateProfile.ts
  packages/contract/src/Address/zod.ts
  packages/contract/src/EmergencyContact/zod.ts
  packages/contract/src/PersonalInfo/zod.ts
  packages/database/mongo/models/dbEmergencyContacts.ts
Labels: frontend, host account

#106 [Story-Feature] Update Coupons
  apps/api/src/routes/api/payments-v2/index.ts
  apps/api/src/routes/api/payments-v2/services/coupons.ts
  apps/web/module/AccountSettings/PaymentPayout/Payments.tsx
  apps/web/module/AccountSettings/hooks/useUpdateCoupon.ts
Labels: backend, frontend, task, host account

#127 [Story-Feature] Modified useUpdatePaymentMethod hook to v2
  apps/api/src/routes/api/payments-v2/index.ts
  apps/api/src/routes/api/payments-v2/services/paymentMethods.ts
  apps/web/common/types/global.ts
  apps/web/module/Accommodation/Checkout/PaymentOptions.tsx
  apps/web/module/Accommodation/Checkout/index.tsx
  apps/web/module/AccountSettings/PaymentPayout/Payments.tsx
  apps/web/module/AccountSettings/components/modals/RemovePaymentModal.tsx
  apps/web/module/AccountSettings/hooks/useGetPaymentMethods.ts
  apps/web/module/AccountSettings/hooks/useRemovePaymentMethod.ts
  apps/web/module/AccountSettings/hooks/useUpdatePaymentMethod.ts
Labels: frontend, task, host account

#128 [Story-Feature] Implemented get tax by user api v2 to frontend
  apps/web/module/AccountSettings/Taxes/Taxpayers.tsx
  apps/web/module/Listing/hooks/useGetTaxByUser.ts
Labels: frontend, task, host account

#131 [Story-Feature] Implement add tax api v2
  apps/web/module/Listing/hooks/useAddTax.ts
Labels: frontend, task, host account

#132 [Feature-Develop] Implemented tax rest api v2 and test it
  apps/web/module/AccountSettings/Taxes/Taxpayers.tsx
  apps/web/module/Listing/hooks/useAddTax.ts
  apps/web/module/Listing/hooks/useGetTaxByUser.ts
Labels: story, frontend, host account

#134 [Story-Feature] Implement Add Blank Rental Pending
  apps/web/module/Hosting/Listings/hooks/useAddBlankRental.ts
Labels: frontend, task, host account

#135 [Story-Feature] Modified useGetRentalAddOns hook to v2
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useGetRentalAddOns.ts
Labels: frontend, task, host account

#136 [Story-Feature] Implemented get rental by id api v2
  apps/web/common/components/AdminLayout/ListingActivityHeader.tsx
  apps/web/common/components/AdminLayout/ListingRentalHeader.tsx
  apps/web/common/components/HostLayout/ListingActivityHeader.tsx
  apps/web/common/components/HostLayout/ListingRentalHeader.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/BasicInfo/Bicycle.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/BasicInfo/Car.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/BasicInfo/Motorbike.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/Details/Bicycle.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/Details/Car.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/Details/Motorbike.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/BasicInfo/Bicycle.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/BasicInfo/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/BasicInfo/Motorbike.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Bicycle.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Motorbike.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/hooks/useGetRentalById.ts
Labels: frontend, task, host account

#138 [Story-Feature] Implement Get Rental locations api v2
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useGetRentalLocation.ts
Labels: frontend, task, host account

#137 [Story-Feature] Added useGetRentalBasicInfo hook v2
  apps/web/module/Hosting/Listings/hooks/useGetRentalBasicInfo.ts
Labels: frontend, task, host account

#139 [Story-Feature] Implement Update Rental Location
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalLocation.ts
Labels: frontend, host account

#140 [Story-feature] Implemented api v2 to frontend
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useGetAllRentals.ts
  apps/web/module/Admin/Listings/hooks/useGetHostRentals.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useGetAllRentals.ts
  apps/web/module/Hosting/Listings/Rentals/index.tsx
  apps/web/module/Hosting/Listings/hooks/useGetHostRentals.ts
Labels: frontend, task, host account

#141 [Story-Feature] Implement Update Rental Details
  apps/web/module/Admin/Listings/Declined/Rental/AddOns/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/BasicInfo/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Details/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Location/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Photos/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Pricing/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Summary/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useUpdateRentalAddOns.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useUpdateRentalDetails.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useUpdateRentalLocation.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useUpdateRentalPhotos.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useUpdateRentalPricing.ts
  apps/web/module/Admin/Listings/Live/Activity/Itinerary/index.tsx
  apps/web/module/Admin/Listings/hooks/useGetRentalById.ts
  apps/web/module/Admin/Listings/hooks/useUpdateRentalBasicInfo.ts
Labels: frontend, task, host account

#142 [Story-Feature] Added useGetRentalPricing hook v2
  apps/api/src/routes/api/rentals-v2/index.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useGetRentalPricing.ts
Labels: frontend, task, host account

#143 [Story-Feature] Implemented update rental basic info api v2 to frontend
  apps/web/module/Admin/Listings/Declined/Rental/AddOns/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Details/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Location/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Photos/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Pricing/index.tsx
  apps/web/module/Admin/Listings/Live/Activity/Itinerary/index.tsx
  apps/web/module/Admin/Listings/hooks/useUpdateRentalBasicInfo.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/hooks/useUpdateRentalBasicInfo.ts
Labels: frontend, task, host account

#145 [Story-Feature] Implemented update rental status api v2 in frontend
  apps/web/module/Admin/Listings/Declined/Rental/AddOns/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Details/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Location/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Photos/index.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Pricing/index.tsx
  apps/web/module/Admin/Listings/Live/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalDetails.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalStatusById.ts
Labels: frontend, task, host account

#144 [Story-Feature] Modified useUpdateRentalPricing hook to v2
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalPricing.ts
Labels: frontend, task, host account

#146 [Story-Feature] Implement Update Rental Addons
  apps/api/src/routes/api/rentals-v2/index.ts
  apps/web/module/Admin/Listings/Declined/Rental/Photos/PhotosModal.tsx
  apps/web/module/Admin/Listings/ForReview/Property/BasicInfo/index.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Facilities/index.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Location.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Photos/PhotosModal.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Photos/index.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Policies/index.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Pricing/index.tsx
  apps/web/module/Admin/Listings/ForReview/Property/PropertyType.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Units/UnitsTable.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Units/index.tsx
  apps/web/module/Admin/Listings/hooks/useGetPropertyById.ts
  apps/web/module/Admin/Listings/hooks/useUpdatePropertyBasicInfo.ts
  apps/web/module/Admin/Listings/hooks/useUpdatePropertyFacilities.ts
  apps/web/module/Admin/Listings/hooks/useUpdatePropertyLocation.ts
  apps/web/module/Admin/Listings/hooks/useUpdatePropertyPhotos.ts
  apps/web/module/Admin/Listings/hooks/useUpdatePropertyPolicies.ts
  apps/web/module/Admin/Listings/hooks/useUpdatePropertyType.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalAddOns.ts
Labels: frontend, task, host account

#147 [Story-Feature] Implemented get rental details v2 in frontend and remove console…
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/web/module/Hosting/Listings/hooks/useGetRentalDetails.ts
Labels: frontend, task, host account

#148 [Story-Feature] Modified useGetRentalPhotosById hook to v2
  apps/api/src/routes/api/rentals-v2/index.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useGetRentalPhotosById.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useGetRentalPhotosById.ts
Labels: frontend, task, host account

#149 feat: Implemented update finished section in frontend hook
  apps/api/src/routes/api/rentals-v2/services/finishedSections.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalFinshedSection.ts
Labels: frontend, task, host account

#150 [Story-Feature] Implement Update Rental Photos
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalPhotos.ts
Labels: frontend, task, host account

#151 [Story-Feature] Implement Delete rental photo by photoId api v2
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useDeleteRentalPhotos.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useDeleteRentalPhotos.ts
Labels: frontend, task, host account

#152 [Story-Feature] Implemented delete rental api v2 to frontend hook
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useDeleteRentals.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useDeleteRentals.ts
Labels: frontend, task, host account

#153 [Story-Feature] Implement Edit rental photo info api v2
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
Labels: frontend, task, host account

#168 [Story-feature] Added database model activities and itineraries
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbActivityItineraries.ts
  packages/database/mongo/models/index.ts
Labels: backend, task, host account

#169 [Story-Feature] Bug Add Rental
  apps/api/src/routes/api/rentals-v2/index.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useAddRentals.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useAddRentals.ts
Labels: backend, task, host account

#170 [Story-Feature] Created isHostActivityOwner middleware v2
  apps/api/src/routes/api/activities-v2/middleware/isHostActivityOwner.ts
Labels: frontend, task, host account

#171 [ Story - Feature ] Add the year and month filter with all option for month
  apps/web/dummy.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/Graph.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
Labels: frontend, task

#175 [Story - Feature] Added get one activity endpoint api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/middleware/isHostActivityOwner.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/index.ts
Labels: backend, task, host account

#173 [ Story - Feature ] Add the year and month filter with all option for month
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
Labels: frontend, task

#174 [Story-Feature] Converted add blank activity to api v2
  apps/api/src/routes/api/activities-v2/middleware/isHostActivityOwner.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
Labels: backend, task, host account

#176 [Story-Feature] redirect after adding blank rental id is undefined
  apps/web/module/Hosting/Listings/components/modals/SelectListingTypeModal.tsx
Labels: frontend, task, host account

#179 [Story-feature] Converted get additional info api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/addionalInfo.ts
Labels: backend, task, host account

#181 [Story-Feature] Converted update activity basic info api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/middleware/isHostActivityOwner.ts
  apps/api/src/routes/api/activities-v2/services/basic-info.ts
Labels: backend, task, host account

#183 [Feature] Guide surf UI
  apps/web/app/(blog-guide)/guide/[guideName]/page.tsx
  apps/web/app/(blog-guide)/layout.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/Directions.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/Forecast.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/IdealConditions.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/ProgressBar.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/SurfGuide.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/index.tsx
  apps/web/module/BlogGuide/Header/index.tsx
  apps/web/module/BlogGuide/data.json
Labels: story, frontend, host account

#182 [Story-Feature] Converted get activity inclussions to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/activity-inclussions.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
Labels: backend, task, host account

#180 [Story-Feature] Convert Update additional info to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
  apps/api/src/routes/mock/activities/service/additionalInfo.ts
Labels: backend, task, host account

#185 [Story-Feature] Converted update activity status to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/addionalInfo.ts
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
  apps/api/src/routes/api/activities-v2/services/status.ts
Labels: backend, task, host account

#184 [Story-Feature] Converted get activity basic info to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/basic-info.ts
Labels: backend, task, host account

#130 [Feature-Develop] Implemented payments metods and coupons rest api v2 and test it.
  apps/api/src/routes/api/payments-v2/index.ts
  apps/api/src/routes/api/payments-v2/services/coupons.ts
  apps/api/src/routes/api/payments-v2/services/paymentMethods.ts
  apps/web/common/types/global.ts
  apps/web/module/Accommodation/Checkout/PaymentOptions.tsx
  apps/web/module/Accommodation/Checkout/index.tsx
  apps/web/module/AccountSettings/PaymentPayout/Payments.tsx
  apps/web/module/AccountSettings/components/modals/AddCardDetailModal.tsx
  apps/web/module/AccountSettings/components/modals/RemovePaymentModal.tsx
  apps/web/module/AccountSettings/hooks/useAddPaymentMethod.ts
  apps/web/module/AccountSettings/hooks/useGetPaymentMethods.ts
  apps/web/module/AccountSettings/hooks/useRemovePaymentMethod.ts
  apps/web/module/AccountSettings/hooks/useUpdateCoupon.ts
  apps/web/module/AccountSettings/hooks/useUpdatePaymentMethod.ts
Labels: story, frontend, host account

#188 [Story-Feature] Convert Update activity inclusions to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/activity-inclussions.ts
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
Labels: backend, task, host account

#190 [Story-Feature] Converted get activity finished section to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/finishedSection.ts
Labels: backend, task, host account

#191 [Story-Feature] Convert Update activity finished section to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
  apps/api/src/routes/api/activities-v2/services/finishedSections.ts
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
Labels: backend, task, host account

#194 [Story-Feature] Fixed Wrong title of email in apply as host
  apps/api/src/routes/api/users-v2/email-template/host/BecomeHostEmailConfirmation.tsx
Labels: bug, backend, task, host account

#207 [Story-Feature] Changed isPending to Incomplete in adding blank rental
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/finishedSection.ts
  apps/api/src/routes/api/activities-v2/services/finishedSections.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
Labels: backend, task, host account

#209 [Story-Feature] Remove duplicate endpoints in activity index.ts
  apps/api/src/routes/api/activities-v2/index.ts
Labels: backend, task, host account

#211 [Feature-Develop] Converted activity mock endpoint to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/middleware/isHostActivityOwner.ts
  apps/api/src/routes/api/activities-v2/services/activity-inclussions.ts
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
  apps/api/src/routes/api/activities-v2/services/basic-info.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/finishedSection.ts
  apps/api/src/routes/api/activities-v2/services/status.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/api/src/routes/api/users-v2/email-template/host/BecomeHostEmailConfirmation.tsx
  apps/api/src/routes/index.ts
  apps/api/src/routes/mock/activities/service/additionalInfo.ts
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbActivityItineraries.ts
  packages/database/mongo/models/index.ts
Labels: story, backend, host account

#212 [Story-Feature] Implemented add blank activity api v2 to frontend
  apps/web/module/Admin/Listings/hooks/useAddBlankActivity.ts
  apps/web/module/Hosting/Listings/hooks/useAddBlankActivity.ts
Labels: frontend, task, host account

#213 [Story-Feature] Implement update activity basic info api v2
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityBasicInfo.ts
Labels: frontend, task, host account

#214 [Story-Feature] Added useGetActivityBasicInfo custom hook api v2
  apps/web/module/Hosting/Listings/Activities/hooks/useGetActivityBasicInfo.ts
Labels: frontend, task, host account

#217 [Story-Feature] Implement get single activity api v2
  apps/web/module/Admin/Activity/hooks/useGetActivitiesById.ts
  apps/web/module/Hosting/Activity/hooks/useGetActivitiesById.ts
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
Labels: frontend, task, host account

#218 [Story-Feature] Implemented get inclusions api v2 to frontend
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/module/Admin/Listings/components/modals/SelectListingTypeModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useGetActivityInclusionsById.ts
  apps/web/module/Hosting/Listings/components/modals/SelectListingTypeModal.tsx
Labels: frontend, task, host account

#222 [Bug-Feature] Fixed error on adding rental details in engine capacity
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  packages/database/mongo/models/dbRentals.ts
Labels: frontend, task, host account

#223 [Story-Feature] Implement get activity additional info api v2
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useGetAdditionalInfoByActivityId.ts
Labels: frontend, task, host account

#224 ]Story- Feature] Implemented update activity additional info api v2 in frontend
  apps/web/module/Admin/Activity/hooks/useUpdateAdditionalInfoActivities.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateAdditionalInfoActivities.ts
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityAdditionalInfo.ts
Labels: frontend, task, host account

#225 [Story-Feature] Created get activity by host endpoint api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
Labels: backend, task, host account

#227 [Story-Feature] Implement update activity inclussions api v2
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityInclusions.ts
Labels: frontend, task, host account

#228 [Story-Feature] Implement update activity status api v2
  apps/web/module/Hosting/Activity/hooks/useUpdateActivityStatus.ts
Labels: frontend, task, host account

#229 [Story-Feature] Implemented get activity finished sections api v2
  apps/web/common/components/AdminLayout/NewListingActivitySidebar.tsx
  apps/web/common/components/AdminLayout/NewListingRentalSidebar.tsx
  apps/web/common/components/AdminLayout/NewListingSidebar.tsx
  apps/web/common/components/HostLayout/NewListingActivitySidebar.tsx
  apps/web/common/components/HostLayout/NewListingRentalSidebar.tsx
  apps/web/common/components/HostLayout/NewListingSidebar.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityInclusions.ts
  apps/web/module/Hosting/Listings/hooks/useGetFinishedSections.ts
Labels: frontend, task, host account

#230 [Story-Feature] Implemented get activities by host api v2
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/module/Hosting/Activity/hooks/useGetActivitiesByHost.ts
  apps/web/module/Hosting/Listings/Activities/index.tsx
  apps/web/module/Hosting/Listings/Rentals/index.tsx
  packages/database/mongo/models/dbActivities.ts
Labels: frontend, task, host account

#236 [Bug-Feature] Fixed error on adding and edditing activity inclusions
  apps/web/common/components/HostLayout/ListingActivitySidebar.tsx
  apps/web/common/components/HostLayout/ListingRentalSidebar.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
Labels: bug, task, host account

#238 feat(api): Added property photos endpoints
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/middlewares/isHostPropertyOwner.ts
  apps/api/src/routes/api/properties-v2/services/photos.ts
  apps/api/src/routes/api/rentals-v2/services/photos.ts
  apps/api/src/routes/index.ts
  apps/web/module/LandingPage/index.tsx
  packages/contract/src/Photo/type.ts
  packages/contract/src/Photo/zod.ts
  packages/database/mongo/models/dbPhotos.ts
Labels: story, database, backend

#239 [Bug-Feature] Fixed error on getting data on activity details
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
Labels: bug, task, host account

#240 [Bug-Feature] Fixed error on rental sidebar no turning green after updating Addons
  apps/api/src/routes/api/rentals-v2/services/addOns.ts
Labels: bug, task, host account

#247 [Bug-Feature] Fixed activity inclusions and additional-info setup navigat…
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
Labels: bug, task, host account

#248 fix: Fixed bug on not displaying current rental price
  apps/api/src/routes/api/rentals-v2/services/rates.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
Labels: bug, task, host account

#249 [Story-Feature] Addons not showing data in addons after saving
  apps/api/src/routes/api/rentals-v2/services/addOns.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
Labels: bug, task, host account

#250 [Story-Feature] Activity basic info not saving the language
  apps/api/src/routes/api/activities-v2/services/basic-info.ts
  apps/api/src/routes/mock/activities/service/basic-info.ts
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  packages/contract/src/Activities/zod.ts
Labels: bug, task, host account

#281 [Feature] Implement rental upload photos
  apps/api/src/routes/api/properties-v2/services/photos.ts
  apps/api/src/routes/api/rentals-v2/index.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/api/src/routes/api/rentals-v2/services/finishedSections.ts
  apps/api/src/routes/api/rentals-v2/services/photos.ts
  apps/web/app/(blog-guide)/guide/[guideName]/page.tsx
  apps/web/module/Admin/Listings/components/modals/EditPhotoModal.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useAddRentalPhoto.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useDeleteRentalPhoto.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useDeleteRentalPhotos.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalFinishedSections.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalFinshedSection.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalPhoto.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalPhotos.ts
  apps/web/module/Hosting/Listings/components/modals/EditPhotoModal.tsx
  apps/web/module/Hosting/Listings/store/usePhotoStore.ts
  apps/web/package.json
  packages/contract/src/Photo/zod.ts
  packages/database/mongo/models/dbRentals.ts
  pnpm-lock.yaml
Labels: story, database, backend, frontend, host account

#284 [Bug-Feature] Location not showing data after savings in rental location
  apps/web/module/Admin/Listings/Declined/Rental/Location/index.tsx
  apps/web/module/Admin/Listings/ForReview/Property/Location.tsx
  apps/web/module/Admin/Listings/Live/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useGetRentalLocation.ts
  packages/constants/src/barangay-municipalities.ts
  packages/contract/src/ListingLocation/zod.ts
Labels: bug, task, host account

#285 [Story-Feature] isHostPropertyOwner middleware for api v2
  apps/api/src/routes/api/properties-v2/middlewares/isHostPropertyOwner.ts
Labels: backend, task, host account

#287 [Story-Feature] Created property model and related schema for api v2
  packages/database/mongo/models/dbAmenities.ts
  packages/database/mongo/models/dbBedConfigs.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbBookableUnits.ts
  packages/database/mongo/models/dbFacilities.ts
  packages/database/mongo/models/dbPolicies.ts
  packages/database/mongo/models/dbProperties.ts
  packages/database/mongo/models/dbReservations.ts
  packages/database/mongo/models/dbUnitPrices.ts
  packages/database/mongo/models/index.ts
Labels: backend, task, host account

#286 [Story-Feature] Created activity summary UI
  .vscode/launch.json
  apps/web/app/(new-listing-activity)/hosting/listings/activities/setup/[listingId]/summary/page.tsx
  apps/web/module/Hosting/Activity/hooks/useUpdateActivitiesById.ts
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Bicycle.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  packages/contract/src/Activities/zod.ts
Labels: frontend, task, host account

#292 [Feature - Develop] Added and update itinerary UI, database and zod
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/api/src/routes/api/rentals-v2/services/locations.ts
  apps/api/src/routes/mock/activities/service/additionalInfo.ts
  apps/web/common/components/CustomSpecificMap.tsx
  apps/web/module/Admin/Activity/hooks/useUpdateActivitiesById.ts
  apps/web/module/Admin/Activity/hooks/useUpdateAdditionalInfoActivities.ts
  apps/web/module/Admin/Activity/hooks/useUpdateInclussionsActivities.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateActivitiesById.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateAdditionalInfoActivities.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateInclussionsActivities.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/Builder.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/modals/BuilderModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/modals/TransferModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/store/useSegmentsStore.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityItinerary.ts
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
  packages/contract/src/Location/index.ts
  packages/contract/src/Location/type.ts
  packages/contract/src/Location/zod.ts
  packages/contract/src/index.ts
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbActivityItineraries.ts
  packages/database/mongo/models/dbAddresses.ts
  packages/database/mongo/models/dbLocations.ts
  packages/database/mongo/models/index.ts
Labels: story, database, backend, frontend, host account

#293 [Bug-Feature] Fixed bug on activity inclussions included and not included…
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
Labels: bug, task, host account

#296 [Story-Feature] Converted get properties by host endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
Labels: backend, task, host account

#298 [Story-Feature] Convert addProperty endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbBookableUnits.ts
  packages/database/mongo/models/dbProperties.ts
  packages/database/mongo/models/index.ts
Labels: backend, task, host account

#299 [Bug-Feature] Fixed bug for rental details isRegistered vehicle radio button
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityItinerary.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
Labels: bug, task, host account

#305 [Bug-Feature] Fixed error on rental summary not showing all data and submit but…
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/BasicInfo/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useUpdateRentalStatusById.ts
Labels: bug, task, host account

#304 [Story-Feature] Converted get property by id endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/middlewares/isHostPropertyOwner.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
  packages/database/mongo/models/dbProperties.ts
Labels: backend, task, host account

#306 [Feature - Develop] Added photos in Activity setup and edit
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/app/(listing-activity)/hosting/listings/activities/[listingId]/photos/page.tsx
  apps/web/app/(new-listing-activity)/hosting/listings/activities/setup/[listingId]/photos/page.tsx
  apps/web/common/components/HostLayout/ListingActivitySidebar.tsx
  apps/web/common/components/HostLayout/NewListingActivitySidebar.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/PhotosModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useAddActivityPhoto.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useDeleteActivityPhoto.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useGetActivityById.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityFinishedSections.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityPhoto.ts
Labels: database, backend, frontend, host account

#307 Develop
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/app/(listing-activity)/hosting/listings/activities/[listingId]/photos/page.tsx
  apps/web/app/(new-listing-activity)/hosting/listings/activities/setup/[listingId]/photos/page.tsx
  apps/web/common/components/HostLayout/ListingActivitySidebar.tsx
  apps/web/common/components/HostLayout/NewListingActivitySidebar.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/PhotosModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useAddActivityPhoto.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useDeleteActivityPhoto.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useGetActivityById.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityFinishedSections.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityPhoto.ts
Labels: epic, host account

#192 [Story - Feature] Add export report excel file
  apps/web/dummy.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/components/exportReportExcel.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/Graph.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/components/exportReportExcel.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetPaymentHistoryReport.tsx
  apps/web/module/Hosting/hooks/useGetEarningsReport.ts
  apps/web/package.json
  pnpm-lock.yaml
Labels: frontend, task

#310 [Feature - Develop] Added export report excel file
  apps/web/dummy.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/components/exportReportExcel.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/Graph.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/components/exportReportExcel.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetPaymentHistoryReport.tsx
  apps/web/module/Hosting/hooks/useGetEarningsReport.ts
  apps/web/package.json
  pnpm-lock.yaml
Labels: frontend, host account

#312 297 feature general blog UI
  apps/web/app/(blog-guide)/guide/travel/[travelName]/page.tsx
  apps/web/app/(blog-guide)/layout.tsx
  apps/web/common/components/HeaderGuides.tsx
  apps/web/module/Accommodation/components/ImageGallery.tsx
  apps/web/module/Accommodation/components/SectionInfo.tsx
  apps/web/module/Accommodation/types/SectionInfo.d.ts
  apps/web/module/BlogGuide/Guide/SurfingGuide/SurfGuide.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/index.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/PopularGuides.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/TopThingsToDo.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/TravelChecklist.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/TravelImages.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/components/GridImage.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
  apps/web/module/BlogGuide/data.json
Labels: story, frontend, host account

#186 [Feature - Develop] Guide restaurant UI
  apps/web/app/(blog-guide)/guide/restaurant/[guideName]/page.tsx
  apps/web/app/(blog-guide)/guide/surf/[guideName]/page.tsx
  apps/web/app/(blog-guide)/layout.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/CheckoutBox.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/SectionInfo.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/index.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
Labels: story, frontend, host account

#315 [Story-Feature] Converted delete property endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
Labels: backend, task, host account

#317 [Story-Feature] Converted get property type endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
Labels: backend, task, host account

#318 [Story-Feature] Added activity photos endpoint and implement it to frontend
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/photos.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
Labels: backend, frontend, task, host account

#319 [Story-Feature] Converted update property type endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
Labels: backend, task, host account

#320 [Story-Feature] Convert Mock update Itinerary endpoint to api v2
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  packages/database/mongo/models/dbActivities.ts
Labels: backend, task, host account

#322 [Story-Feature] Implement update itinerary to frontend
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
Labels: backend, frontend, task, host account

#324 [Bug-Feature] Fixed activity Itinerary code base
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
Labels: bug

#325 [Story-Feature] Converted get property basic info endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
Labels: backend, task, host account

#326 [Feature-Develop] Feature itinerary
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/activity-inclussions.ts
  apps/api/src/routes/api/activities-v2/services/additionalInfo.ts
  apps/api/src/routes/api/activities-v2/services/basic-info.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/finishedSection.ts
  apps/api/src/routes/api/activities-v2/services/photos.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/api/src/routes/api/rentals-v2/services/details.ts
  apps/api/src/routes/api/rentals-v2/services/locations.ts
  apps/api/src/routes/mock/activities/service/activity-inclusions.ts
  apps/web/common/components/CustomSpecificMap.tsx
  apps/web/common/components/HostLayout/ListingActivityHeader.tsx
  apps/web/common/components/SpecificMap.tsx
  apps/web/module/Admin/Activity/hooks/useGetActivitiesById.ts
  apps/web/module/Admin/Listings/Declined/Rental/hooks/useGetRentalLocation.ts
  apps/web/module/Admin/Listings/hooks/useGetHostRentals.ts
  apps/web/module/Hosting/Activity/hooks/useGetActivitiesById.ts
  apps/web/module/Hosting/Activity/hooks/useGetAdditionalInfoActivities.ts
  apps/web/module/Hosting/Activity/hooks/useGetInclusionsActivities.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateActivitiesById.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateAdditionalInfoActivities.ts
  apps/web/module/Hosting/Activity/hooks/useUpdateInclussionsActivities.ts
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/Builder.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/modals/BuilderModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/modals/TransferModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/store/useSegmentsStore.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
  apps/web/module/Hosting/Listings/Activities/hooks/useAddActivity.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useDeleteActivity.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useGetActivityBasicInfo.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useGetActivityInclusionsById.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useGetAdditionalInfoByActivityId.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useGetHostActivities.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityAdditionalInfo.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityItinerary.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityStatus.ts
  apps/web/module/Hosting/Listings/Activities/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Motorbike.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/hooks/useGetRentalLocation.ts
  apps/web/module/Hosting/Listings/Rentals/index.tsx
  apps/web/public/marker.png
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
  packages/contract/src/Location/zod.ts
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbLocations.ts
Labels: story, backend, frontend, host account

#327 [Story-Feature] Added add property type to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/propertyType.ts
  packages/database/mongo/models/dbProperties.ts
Labels: backend, task, host account

#328 [Story-Feature] Added get property facilities endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/facilities.ts
Labels: backend, task, host account

#329 [Story-Feature] Converted get property location endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
Labels: backend, task, host account

#331 [Story - Feature] Converted property update status endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/status.ts
  packages/database/mongo/models/index.ts
Labels: backend, task, host account

#333 [Story - Feature] Converted get property finished-sections to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/finishedSections.ts
Labels: backend, task, host account

#332 [Story-Feature] Converted update property basic info endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/module/Admin/Listings/ForReview/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  packages/contract/src/Property/zod.ts
  pnpm-lock.yaml
Labels: backend, task, host account

#334 [Story - Feature] Converted property update finished sections to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/finishedSections.ts
Labels: backend, task, host account

#335 [Story - Feature] Converted get property policies to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/policies.ts
Labels: backend, task, host account

#336 [Story-Feature] Converted update policies by property endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/policies.ts
  apps/api/src/routes/mock/properties/service/policies.ts
  packages/contract/src/Property/zod.ts
  packages/database/mongo/models/dbPolicies.ts
  packages/database/mongo/models/dbProperties.ts
  packages/database/mongo/models/index.ts
  pnpm-lock.yaml
Labels: backend, task, host account

#337 feat(api): Converted create whole place unit endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/units.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbProperties.ts
Labels: backend, task, host account

#338 [Story - Feature] Converted create room unit endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/units.ts
Labels: backend, task, host account

#341 feat(api): Converted get bookable units by category to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/units.ts
  packages/contract/src/BookableUnitType/zod.ts
Labels: backend, task, host account

#340 [Story-Feature] Converted update property location endpoint to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/api/src/routes/api/properties-v2/services/policies.ts
  packages/database/mongo/models/dbProperties.ts
Labels: backend, task, host account

#342 [Story- Feature] Converted property update amenities to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/amenities.ts
  packages/database/mongo/models/dbAmenities.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: backend, task, host account

#348 [Story-Feature] Implemented add blank property to frontend
  apps/web/module/Hosting/Listings/Properties/hooks/useAddBlankProperty.ts
  apps/web/module/Hosting/Listings/components/modals/SelectListingTypeModal.tsx
Labels: frontend, task, host account

#347 [Story-Feature] Implemented get property by host to frontend
  apps/web/module/Hosting/Listings/Properties/hooks/useGetPropertyByHost.ts
Labels: frontend, task, host account

#349 [Story-Feature] Implement delete property to frontend
  apps/web/module/Hosting/Listings/Properties/hooks/useDeleteProperty.ts
Labels: frontend, task, host account

#353 [Story-Feature] Converted property bookable unit get amenities to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/amenities.ts
Labels: backend, task, host account

#354 [Story-Feature] Implemented update property type api v2 to frontend
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/module/Hosting/Listings/Properties/Property/PropertyType.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyFinishedSections.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyType.ts
Labels: frontend, task, host account

#355 [Story-Feature] Converted update property bookable unit price to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/unitPrice.ts
  apps/api/src/routes/mock/properties/service/unitPrice.ts
  packages/contract/src/BookableUnitType/zod.ts
  packages/contract/src/UnitPrice/zod.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: backend, task, host account

#356 [Story-Feature] Implement update property basic info api v2 to frontend
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyBasicInfo.ts
Labels: frontend, task, host account

#357 [Story-Feature] Implement update property location api v2 to frontend
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyLocation.ts
Labels: frontend, task, host account

#359 [ Sync ] Main to Develop
  CHANGELOG.md
  package.json
Labels: release

#363 [Story-Feature] Implement update property policies api v2 to frontend
  apps/web/module/Hosting/Listings/Properties/Property/Policies/index.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyPolicies.ts
Labels: frontend, task, host account

#365 [Story-Feature] Implement update property status api v2 to frontend
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyStatusById.ts
Labels: frontend, task, host account

#367 [Story-Feature] Converted property update facilities to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/amenities.ts
  apps/api/src/routes/api/properties-v2/services/facilities.ts
  packages/contract/src/Property/zod.ts
  packages/database/mongo/models/dbFacilities.ts
Labels: backend, task, host account

#364 [Story-Feature] Implemented get property by id to frontend
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/module/Hosting/Listings/Properties/Property/Facilities/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Photos/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Policies/PoliciesCheckboxes.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Policies/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/PropertyType.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useGetPropertyById.ts
  apps/web/module/Hosting/Listings/Properties/index.tsx
Labels: frontend, task, host account

#370 [Story-Feature] Converted property photos to api v2
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/photos.ts
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
Labels: backend, task, host account

#372 [Story-Feature] Implemented update facilities endpoint api v2 to frontend
  apps/web/module/Hosting/Listings/Properties/Property/Facilities/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyFacilities.ts
Labels: frontend, task, host account

#374 [Story-Feature] Implemented photos in property frontend
  apps/api/src/routes/api/properties-v2/services/finishedSections.ts
  apps/web/module/Hosting/Listings/Properties/Property/Photos/index.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useAddPropertyPhotos.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useDeletePropertyPhoto.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useGetPropertyPhotosById.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyFinishedSections.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyPhoto.ts
Labels: frontend, task, host account

#376 [Bug-Feature] Fixed error on property setup locations
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
Labels: frontend, task, host account

#377 [Story-Feature] Corrected display information in properties list page
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/module/Hosting/Listings/Properties/index.tsx
Labels: backend, frontend, task, host account
