Repository explore-siargao/es-main, pull requests merged in 2024-09, with the labels that each got.

#898 [Story] Convert guide pages fetch to server side
  apps/web/app/(blogs)/blogs/[blogName]/page.tsx
  apps/web/app/(guides)/guides/locations/[travelName]/page.tsx
  apps/web/app/(guides)/guides/restaurants/siargao/[guideName]/page.tsx
  apps/web/app/(guides)/guides/surfing/[guideName]/page.tsx
  apps/web/app/(legal)/legal/[legal-name-from-cms]/page.tsx
  apps/web/app/(legal)/legal/layout.tsx
  apps/web/common/helpers/getRequestCMS.ts
  apps/web/module/Blog/index.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/index.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/index.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
  apps/web/module/Legal/index.tsx
  pnpm-lock.yaml
Labels: frontend, host account

#904 [FE] Fix all inputs radius to rounded-xl
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/components/modals/EditPhotoModal.tsx
Labels: frontend, minor

#912 [Story-Feauture] Modified existing guide search
  apps/web/app/(blogs)/layout.tsx
  apps/web/app/(guides)/guides/layout.tsx
  apps/web/app/(search)/layout.tsx
  apps/web/common/components/Header/v2.tsx
  apps/web/common/components/SearchBar/ActivitiesSearchBar/index.tsx
  apps/web/common/components/SearchBar/NavigationByState.tsx
  apps/web/common/components/SearchBar/PropertySearchBar/index.tsx
  apps/web/common/components/SearchBar/RentalsSearchBar/index.tsx
  apps/web/common/components/YMarginWrapper.tsx
  apps/web/module/Blog/index.tsx
  apps/web/module/BlogGuide/Guide/SurfingGuide/index.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
Labels: enhancement, frontend, task

#903 [Cleanup] Listing main public page
  apps/web/app/(accommodation)/accommodation/[listingId]/page.tsx
  apps/web/app/(listing)/layout.tsx
  apps/web/common/components/HostLayout/ListingHeader/index.tsx
  apps/web/common/components/SliderImages.tsx
  apps/web/common/constants/links.ts
  apps/web/module/Accommodation/components/SectionInfo.tsx
  apps/web/module/Accommodation/index.tsx
  apps/web/module/Listing/Activity/SectionInfo.tsx
  apps/web/module/Listing/Activity/index.tsx
  apps/web/module/Listing/Rental/components/SectionInfo.tsx
  apps/web/module/Listing/Rental/index.tsx
Labels: frontend

#914 [Story-Feature] Click to expand legends and rental calendar tabs
  apps/web/common/components/Tabs.tsx
  apps/web/module/Hosting/Reservations/components/CalendarLegend.tsx
  apps/web/module/Hosting/Reservations/components/CalendarTab.tsx
Labels: enhancement, frontend, task

#917 [Story - Main] Modified favicons colors in maps
  apps/web/public/island-map-icon-1.png
  apps/web/public/island-map-icon-2.png
  apps/web/public/restaurant-map-icon.png
  apps/web/public/surf-map-icon.png
Labels: enhancement, frontend, task

#928 [Story - Main] Modified reservation db model
  packages/database/mongo/models/dbReservations.ts
Labels: database, backend, task, host account

#911 [Feature-Main] Modify listing setup locations
  apps/web/common/components/SpecificMap.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
Labels: enhancement, frontend, task, host account

#929 [Story - Main] Added endpoint for getting rentals names by host and category
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/rentals.ts
Labels: backend, task, host account

#931 [Story - Main] Added endpoint for getting all ids in rental
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/rentals.ts
Labels: backend, task, host account

#932 [Story - Main] Added custom hooks for getting rentals by categories and v…
  apps/api/src/routes/api/rentals/index.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useGetRentalNamesByCategory.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useGetVehiclesByRentalId.ts
Labels: frontend, task, host account

#933 [Story - Main] Add Modal for adding rental calendar reservation
  CHANGELOG.md
  apps/api/src/routes/api/rentals/services/rentals.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalSelectLegendForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useGetRentalNamesByCategory.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useGetVehiclesByRentalId.ts
Labels: frontend, task

#935 [Story-Feature] Made adjustments for the unit types to be specific to the…
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/modals/SelectUnitTypeModal.tsx
  apps/web/module/Hosting/Listings/Properties/index.tsx
Labels: frontend, task, hotfix

#936 [Story - Main] Added endpoint for adding rental reservations
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/api/src/routes/index.ts
  packages/database/mongo/models/dbReservations.ts
Labels: backend, task, host account

#939 [Story - Feature] Add free text to all units basic info
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
  packages/contract/src/BookableUnitType/zod.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: enhancement, frontend, task, host account

#940 [Story - Main] Added custom hook for adding new rental reservation
  apps/web/module/Hosting/Reservations/Calendar/hooks/useAddRentalReservation.ts
Labels: frontend, task, host account

#942 [Story - Main] Add logic for displaying calendar bar colors base from reservat…
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/helpers/legends.ts
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: bug, enhancement, frontend, task, host account

#943 feat: Connect Add Rental Reservation Modal frontend to backend
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalSelectLegendForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
Labels: database, backend, frontend, task

#946 [Bug - Main] Fixed allowing adding overlap dates in same rental reserva…
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
Labels: bug, backend, host account

#947 [Bugfix] Bug fix error not showing bar on previous dates
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/helpers/legends.ts
Labels: bug, frontend, task, host account

#948 [Story-Feature] Changed url slugs
  apps/web/app/(guides)/guides/travel/[travelName]/page.tsx
  apps/web/app/(guides)/siargao/layout.tsx
  apps/web/app/(guides)/siargao/surfing/guides/[guideName]/page.tsx
  apps/web/module/LandingPage/index.tsx
Labels: frontend, task, host account

#949 [Bugfix] After login login button still showing
  apps/web/module/Authentication/components/LoginForm.tsx
Labels: bug, frontend

#950 [Hotfix] UI Cleanup
  apps/web/common/helpers/getRequestCMS.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
Labels: bug, enhancement, patch

#952 [Bugfix] Saving of property unit price not displaying on UI
  apps/api/src/routes/api/properties-v2/services/unitPrice.ts
  apps/api/src/routes/api/properties/services/unitPrice.ts
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  packages/contract/src/UnitPrice/zod.ts
  packages/database/mongo/models/dbUnitPrices.ts
  pnpm-lock.yaml
Labels: bug, backend, frontend, host account

#955 [Hotfix] Added container wrapper for map
  CHANGELOG.md
  apps/api/src/routes/api/properties-v2/services/unitPrice.ts
  apps/web/app/(blogs)/layout.tsx
  apps/web/common/components/MapContainerWrapper.tsx
  apps/web/common/components/MultipleMarkerMap.tsx
  apps/web/common/components/SearchBar/ActivitiesSearchBar/index.tsx
  apps/web/module/Accommodation/components/Map.tsx
  apps/web/module/Accommodation/components/WhereYouWillBeModal.tsx
  apps/web/module/Guides/Islands/index.tsx
  apps/web/module/Guides/Restaurant/index.tsx
  apps/web/module/Guides/Surfing/index.tsx
  apps/web/module/Guides/components/Content.tsx
  apps/web/module/Guides/components/MultiMarkerMap.tsx
  apps/web/module/Guides/components/RecommendedListing.tsx
  apps/web/module/Listings/components/SideFilter.tsx
  apps/web/next-env.d.ts
  pnpm-lock.yaml
Labels: enhancement, frontend

#974 [Story-Main] Add notes field for add reservation modal in rental calendar
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useAddRentalReservation.ts
  packages/database/mongo/models/dbReservations.ts
Labels: enhancement, feature, database, backend, frontend

#975 [Story-Main] Remove Guest counts on add Reservation modal in rental reservat…
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
Labels: database, backend, frontend

#978 [Story-Main] Add Guest name to blocked dates on add reservation modal in rental calendar
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/helpers/legends.ts
  packages/database/mongo/models/dbReservations.ts
Labels: bug, enhancement, story, backend, frontend

#980 [Story-Feature] Modified logic of whole place unit
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/store/useUnitTypeStore.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/modals/SelectUnitTypeWholePlaceModal.tsx
  apps/web/module/Hosting/Listings/Properties/index.tsx
  apps/web/next-env.d.ts
  packages/contract/src/Property/enum.ts
Labels: frontend, task, host account

#982 [Story - Main] Added descriptive text to Property Facilities
  apps/web/module/Admin/Listings/ForReview/Property/Facilities/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Facilities/index.tsx
Labels: enhancement, frontend, task, host account

#985 [Story-Feature] Modified logic of whole place unit
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/store/useUnitTypeStore.ts
Labels: frontend, task, host account

#986 {Story-Main] Modified unit bed setup UI
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
Labels: enhancement, frontend, task, host account

#987 [Story-Feature] Descriptions and tags for photos made mandatory
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
Labels: frontend, task, host account

#988 [Story-Main] Show all datas on reservation modal in rental reservation calendar
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/ReservationCalendarModal.tsx
Labels: enhancement, frontend, task

#989 [Story - Feature] Modified Locations setup for all categories
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
Labels: enhancement, frontend, task, host account

#990 [Story-Feature] Modified visibility of preview listing button based on status
  apps/web/common/components/HostLayout/ListingHeader/index.tsx
Labels: frontend, task, host account

#993 [Story - Main] Added endpoint for modifying rental reservation
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
Labels: backend, task, host account

#995 [Story-Main] Create Add Property reservation modal
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/PropertyReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/PropertylSelectLegendForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
Labels: enhancement, frontend, task

#996 [Story-Main] Connect Edit rental reservation modal to backend
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/ReservationCalendarModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdateRentalReservation.ts
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: frontend, task, host account

#997 [Stpry- Main] Added add unit reservation endpoint
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/unitsReservation.ts
Labels: backend, task, host account

#1000 [Story-Feature] Modified inputs of room units
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/AddBedroomModal.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Bedroom.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/store/useBedroomStore.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
Labels: backend, frontend, task

#1005 [Story-Main] Connect Add property reservation modal to backend
  CHANGELOG.md
  apps/api/src/routes/api/properties/index.ts
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/PropertyReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/hooks/useAddPropertyReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/hooks/useGetUnitById.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: enhancement, frontend, task, host account

#1008 [Story-Feature] Modified label and design of inputs version 2
  apps/api/src/routes/api/properties/index.ts
  apps/web/common/components/ui/Input2.tsx
  apps/web/common/components/ui/Select2.tsx
  apps/web/common/components/ui/Textarea2.tsx
Labels: frontend, task, host account

#1012 [Story-Feature] Changed the position of title field in whole place setup
  apps/web/common/components/ui/Input2.tsx
  apps/web/common/components/ui/Select2.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Bedroom.tsx
Labels: frontend, task

#1013 [Story - Main] Added functions for editing unit name in calendar property…
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdateCalendarUnitName.ts
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: frontend, task, host account

#1014 [Story - Main] Make the color of bars is correct by status on property ca…
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/PropertyReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/PropertyCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
Labels: enhancement, backend, frontend, task, host account

#1015 [Story-Feature] Changed the room name inputs same on whole place when adding be…
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: backend, frontend, task

#1016 [Hotfix] Cleanup search bar and header
  apps/web/app/(blogs)/layout.tsx
  apps/web/app/(guides)/siargao/layout.tsx
  apps/web/app/(search)/layout.tsx
  apps/web/common/components/Header/WithSearch.tsx
  apps/web/common/components/SearchBar/ActivitiesSearchBar/index.tsx
  apps/web/common/components/SearchBar/CategoryButtonsByState.tsx
  apps/web/common/components/SearchBar/NavigationByState.tsx
  apps/web/common/components/SearchBar/PropertySearchBar/index.tsx
  apps/web/common/components/SearchBar/RentalsSearchBar/index.tsx
  apps/web/common/components/SearchBar/SearchBarByState.tsx
  apps/web/common/components/SearchBar/SearchBarByStateWithHero.tsx
  apps/web/common/components/SearchBar/SearchBarByUrl.tsx
  apps/web/common/components/YMarginWrapper.tsx
  apps/web/common/components/ui/Select.tsx
  apps/web/next-env.d.ts
Labels: enhancement, frontend

#1019 [Hotfix] Fix bugs and added emoji for release please
  .github/workflows/release-please.yml
  apps/web/common/components/Header/GuidesMenu.tsx
Labels: bug, enhancement

#1051 [Story- Main] Removed Table view button
  CHANGELOG.md
  apps/web/module/Hosting/Reservations/Calendar/Activity/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/BedReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/ReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/RoomReservationCalendar.tsx.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/WholePlaceReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorReservationCalendar.ts.tsx
  apps/web/next-env.d.ts
Labels: frontend, task, host account

#1053 [Hotfix] Deployment cleanup
  .github/workflows/deploy-home.yml
  package.json
Labels: patch, deployment

#1054 [Hotfix] Deployment
  package.json
Labels: patch, deployment

#1055 [Hotfix] Deployment
  package.json
Labels: patch, deployment

#1056 [Hotfix] Deployment
  package.json
Labels: patch, deployment

#1058 [Story - Main] Added endpoint for updating whole place type
  apps/api/src/routes/api/properties/index.ts
  apps/api/src/routes/api/properties/services/default.ts
  apps/api/src/routes/api/properties/services/propertyType.ts
  apps/web/module/Hosting/Listings/Properties/Property/PropertyType.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateWholePlaceType.ts
  packages/database/mongo/models/dbProperties.ts
Labels: enhancement, backend, host account, listing

#1060 [Story - Main] Added endpoint for editing unit reservation
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/unitsReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdateRentalReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdateUnitReservation.ts
Labels: backend, host account, calendar

#1062 [Story - Main] Automatic changing of reservation status base from current…
  apps/api/src/routes/api/rentals/services/calendar.ts
Labels: enhancement, backend, host account, calendar

#1063 [Story - Main] Added automatic change of reservation status base by curre…
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  packages/contract/src/Property/enum.ts
  packages/database/mongo/models/dbProperties.ts
Labels: bug, enhancement, backend, frontend, host account, calendar

#1064 [Story-Feature] Added proper example place holder in each input
  apps/web/common/components/ui/Textarea2.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/modals/BuilderModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/modals/TransferModal.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Policies/AdditionalRules.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Policies/PoliciesCheckboxes.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Bedroom.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
  apps/web/module/Hosting/Listings/components/modals/EditPhotoModal.tsx
  apps/web/module/Hosting/Listings/store/usePhotoStore.ts
Labels: frontend, host account, listing

#1065 [Story-Main] Added Edit and Add Motorcycle reservation modal
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
Labels: enhancement, frontend, host account, calendar

#1066 feat(web): Added Add and Edit Bike reservation modal
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
Labels: enhancement, frontend, host account, calendar

#1071 [Story - Main] Maked the edit unit reservation function work
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/PropertyCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: enhancement, backend, frontend, host account, calendar

#1072 [Story-Main] Property Calendar calendar button function
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/module/Hosting/Reservations/Calendar/SidebarActionModals/MonthYearSelectorModal/index.tsx
Labels: frontend, host account, calendar, search

#1073 [Story-Main] Added optional label for notes and fix some bugs on notes
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Property/PropertyReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/PropertyCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
Labels: bug, enhancement, frontend, host account

#1074 [Story-Main] Rental Calendar calendar button function
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
Labels: frontend, host account, calendar, search

#1075 [Story-Main] Activity Calendar calendar button function
  apps/web/module/Hosting/Reservations/Calendar/Activity/CalendarTable.tsx
Labels: frontend, host account, calendar, search

#1077 [Story - Main] Mandatory property pricing
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  apps/web/next-env.d.ts
  pnpm-lock.yaml
Labels: enhancement, frontend, host account, listing

#1078 [Bug - Main] Unit saving even if no photos or no amenities checked
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
Labels: bug, frontend, listing

#1079 [Story - Main] Removed collapse button on all bookable category on calendar
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/next-env.d.ts
Labels: enhancement, frontend, host account, calendar, client feedback

#1080 [Story-Main] Adjusted the height of public property page images
  apps/web/module/Listing/Property/components/ImageGallery.tsx
  apps/web/module/Listing/Property/components/SectionInfo.tsx
Labels: frontend, host account

#1081 [Story-Main] Calendar UI correction
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
Labels: enhancement, frontend, host account, calendar

#1084 [Story-Main] Added activityType field on actvitiy model
  CHANGELOG.md
  apps/api/src/routes/api/activities/services/basic-info.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, database, backend, host account, listing, client feedback

#1087 [Story-Main] Add Activity Type input in activity basic info setup
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
Labels: enhancement, frontend, host account, listing, client feedback

#1086 [Story-Main] Modified calendar legends
  apps/web/module/Hosting/Reservations/Calendar/Activity/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarReservationCalendar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorReservationCalendar.ts.tsx
  apps/web/module/Hosting/Reservations/components/ActivityCalendarLegend.tsx
  apps/web/module/Hosting/Reservations/components/ActivityLegendModal.tsx
  apps/web/module/Hosting/Reservations/components/RentalCalendarLegend.tsx
  apps/web/module/Hosting/Reservations/components/RentalLegendModal.tsx
  apps/web/module/Hosting/Reservations/helpers/activitylegends.ts
  apps/web/module/Hosting/Reservations/helpers/rentallegends.ts
Labels: frontend, host account, calendar

#1093 [Story-Main] Applied calendar current day and search date function to m…
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
Labels: frontend, host account, calendar

#1095 [Story - Main] Modified activities bookable units and rental models added…
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbRentals.ts
Labels: enhancement, backend, host account, calendar, client feedback

#1098 [Bug-Main] Rental cancelling calendar button not displaying the reservation blocks
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/module/Hosting/Reservations/Calendar/SidebarActionModals/MonthYearSelectorModal/index.tsx
  apps/web/module/Hosting/Reservations/components/CalendarTab.tsx
Labels: bug, enhancement, frontend, host account, calendar

#1097 [Story-Main] Removed the whole place modal in the process
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/modals/SelectUnitTypeWholePlaceModal.tsx
  apps/web/module/Hosting/Listings/Properties/Property/WholePlaceType/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/WholePlaceType/store/useWholePlaceTypeSelectedStore.ts
  apps/web/module/Hosting/Listings/Properties/index.tsx
Labels: frontend, host account, listing

#1102 [Story-Main] Created calendar search modal
  CHANGELOG.md
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/module/Hosting/Reservations/Calendar/SidebarActionModals/SideBarSearchModals/PropertySearchCalendar.tsx
Labels: frontend, host account, calendar

#1106 [Story - Main] Modified activity model added experienceType field
  apps/api/src/routes/api/activities/services/basic-info.ts
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, backend, host account, listing, client feedback

#1110 [Story-Main] Added endpoint for adding rental price per date range and …
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/calendar.ts
Labels: enhancement, database, backend, host account, calendar, listing, client feedback

#1111 [Story-Main] Added endpoint for adding price per dates on units
  apps/api/src/routes/api/properties/index.ts
  apps/api/src/routes/api/properties/services/calendar.ts
Labels: enhancement, backend, host account, calendar, client feedback

#1112 [Story - Main] Added today function to activity calendar and add highligh…
  apps/web/module/Hosting/Reservations/Calendar/Activity/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
Labels: enhancement, frontend, host account, calendar, client feedback

#1113 [Story - Main] Added today functions to Rental car, motor and bike and ad…
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
Labels: enhancement, frontend, host account, calendar, client feedback

#1114 [Story-Main] Change backgound color for hovering checkout, drop off and completed bar
  apps/web/module/Hosting/Reservations/helpers/activitylegends.ts
  apps/web/module/Hosting/Reservations/helpers/legends.ts
  apps/web/module/Hosting/Reservations/helpers/rentallegends.ts
Labels: enhancement, frontend, host account, calendar

#1116 Added today function for property calendar and put hightlight for today date
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
Labels: enhancement, frontend, host account, calendar, client feedback

#1115 Created price per days modal
  apps/web/module/Hosting/Reservations/Calendar/Activity/ActivityEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Activity/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/EditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/BedCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/PropertyEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/RoomCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/WholePlaceCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/RentalsEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/RoomQuantityEdit.tsx
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: frontend, host account, calendar

#1119 Added more height for image box in public listing page
  apps/web/module/Listing/Property/components/ImageGallery.tsx
  apps/web/module/Listing/Property/components/Map.tsx
  apps/web/module/Listing/Property/components/WhereYouWillBe.tsx
Labels: enhancement, frontend, guest account, listing, client feedback

#1125 Fixed the not match dates of reservation blocks on the calendar dates
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/PropertyCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
Labels: bug, frontend, host account, calendar

#1127 Modified activities model for activity type field
  CHANGELOG.md
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, backend, host account, listing, client feedback

#1128 Hide search button on calendar
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
Labels: enhancement, frontend, host account, calendar, search, client feedback

#1130 Display dynamic price on rental calendar
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: enhancement, backend, frontend, host account, calendar

#1133 feat(web): Modify calendar side items property ui
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
Labels: enhancement, frontend, host account, calendar, client feedback

#1134 [Bug-Main] Bug on adding reservation on property multiple display
  apps/api/src/routes/api/properties/services/calendar.ts
Labels: frontend, host account, calendar

#1137 feat(web): Correct the alignment on left of blocksbars on calendar
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
Labels: enhancement, frontend, host account, calendar

#1138 Modified activity setup basic info ui
  apps/web/common/components/HostLayout/ListingSidebar/SetupSidebar.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  packages/contract/src/Activities/zod.ts
Labels: enhancement, frontend, host account, listing, client feedback

#1139 Adjusted database model reservation units and rental
  apps/api/src/routes/api/properties/services/units.ts
  apps/api/src/routes/api/rentals/services/basicInfo.ts
  apps/api/src/routes/api/rentals/services/default.ts
  packages/contract/src/Rental/zod.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbRentals.ts
  packages/database/mongo/models/dbReservations.ts
Labels: enhancement, backend, host account, listing

#1141 Rental Calendar search button function
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/module/Hosting/Reservations/Calendar/SidebarActionModals/SideBarSearchModals/PropertySearchCalendar.tsx
Labels: frontend, host account, calendar, search

#1142 Fixed bugs on not accurate date on price per dates
  apps/api/package.json
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: bug, enhancement, frontend, host account, calendar

#1145 Connect PricePerdates add modal of rental to backend
  apps/web/module/Hosting/Reservations/Calendar/Rental/RentalsEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdateRentalPricePerDate.ts
Labels: enhancement, frontend, host account, calendar, client feedback

#1146 Added displays of price per dates on property calendar
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
Labels: enhancement, backend, frontend, host account, calendar

#1149 Modified rental and unit basic info add input number how many days before checkin can cancel
  apps/api/src/routes/api/properties/services/units.ts
  apps/api/src/routes/api/rentals/services/basicInfo.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/hooks/useUpdateRentalBasicInfo.ts
  packages/contract/src/BookableUnitType/zod.ts
  packages/contract/src/Rental/zod.ts
Labels: enhancement, frontend, host account, listing

#1156 Removed not needed fields in edit price modal
  apps/api/src/routes/api/properties/services/units.ts
  apps/web/module/Hosting/Reservations/Calendar/Activity/ActivityEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/PropertyEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/RentalsEditPricePerDatesModal.tsx
  apps/web/tsconfig.json
Labels: enhancement, frontend, host account, calendar, client feedback
