Repository explore-siargao/es-main, pull requests merged in 2024-07, with the labels that each got.

#476 [Story-Feature] Created reservation model schema
  packages/database/mongo/models/dbReservations.ts
  pnpm-lock.yaml
Labels: database, backend, task, host account

#479 [ Story - Feature ] Create reservation zod schema
  apps/web/module/Admin/Listings/hooks/useRemoveReservation.ts
  apps/web/module/Hosting/Listings/hooks/useRemoveReservation.ts
  packages/contract/src/Reservation/zod.ts
Labels: backend, task, host account

#480 [Feature-Develop] Added calendar UIs for reservations page
  apps/web/app/(host)/hosting/reservations/calendar/activities/page.tsx
  apps/web/app/(host)/hosting/reservations/calendar/properties/page.tsx
  apps/web/app/(host)/hosting/reservations/calendar/rentals/page.tsx
  apps/web/common/components/HostLayout/Sidebar.tsx
  apps/web/module/Hosting/Reservations/Calendar/Activity/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Activity/SampleData.json
  apps/web/module/Hosting/Reservations/Calendar/Activity/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/SampleData.json
  apps/web/module/Hosting/Reservations/Calendar/Rental/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/ReservationCalendarModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/RoomQuantityEdit.tsx
  apps/web/module/Hosting/Reservations/Calendar/SampleData.json
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/module/Hosting/Reservations/Upcoming/index.tsx
  apps/web/module/Hosting/Reservations/helpers/reservationCalendarTabs.tsx
Labels: frontend

#487 feat: add descriptions under create listings inputs
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
Labels: frontend, hotfix

#488 [ Feature - Develop ] Property units pricing
  apps/api/src/routes/api/properties-v2/services/unitPrice.ts
  apps/api/src/routes/mock/properties/service/unitPrice.ts
  apps/web/common/components/HostLayout/ListingSidebar.tsx
  apps/web/common/components/HostLayout/NewListingSidebar.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Photos/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useGetPropertyUnitPricesById.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdatePropertyUnitPriceById.ts
  packages/contract/src/UnitPrice/zod.ts
Labels: database, backend, frontend, host account

#491 [Story-Feature] Removed Rental details minimum age and put driver license required
  apps/api/src/routes/api/rentals-v2/services/details.ts
  apps/api/src/routes/mock/rentals/service/details.ts
  apps/api/src/routes/mock/rentals/service/jsons/rentals.ts
  apps/web/module/Admin/Listings/Declined/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  packages/contract/src/Rental/zod.ts
  packages/database/mongo/models/dbRentalDetails.ts
Labels: frontend, task, host account

#492 [Story-Feature] Rental Addons in others enter new fields
  apps/api/src/routes/api/rentals-v2/services/addOns.ts
  apps/api/src/routes/mock/rentals/service/addOns.ts
  apps/api/src/routes/mock/rentals/service/jsons/rentals.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Bicycle.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Motorbike.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  packages/contract/src/Rental/zod.ts
  packages/database/mongo/models/dbRentalAddOns.ts
Labels: enhancement, frontend, task, host account

#502 [Story-Feature] Modified activities schema
  packages/database/mongo/models/dbActivities.ts
Labels: database, backend, task, host account

#503 [Story-Feature] Include adding of slots and price in add blank activity endpoint
  apps/api/src/routes/api/activities-v2/services/default.ts
Labels: backend, task, host account

#504 [Story-Feature] Created updated activity price and slots endpoint
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/price-slots.ts
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: backend, task, host account

#494 [ Feature - Develop ] Guide location guide ui
  apps/web/module/BlogGuide/Guide/TravelBlog/PopularGuides.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/TopThingsToDo.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/TravelChecklist.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/TravelImages.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
  apps/web/module/BlogGuide/data.json
Labels: story, frontend, host account

#495 [Feature - Develop] Guide restaurant UI
  apps/web/app/(blog-guide)/layout.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/CheckoutBox.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/SectionInfo.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/ChefsNote.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/Contacts.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/OffersCuisine.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/OpeningHours.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/PriceLevel.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/ShareSave/index.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/components/ShareSave/modals/index.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/index.tsx
  apps/web/module/BlogGuide/Guide/RestaurantGuide/types/Contacts.d.ts
  apps/web/module/BlogGuide/Guide/RestaurantGuide/types/OffersCuisine.d.ts
  apps/web/module/BlogGuide/Guide/RestaurantGuide/types/PriceLevel.d.ts
  apps/web/module/BlogGuide/Guide/RestaurantGuide/types/Schedule.d.ts
  apps/web/module/BlogGuide/Header/index.tsx
Labels: frontend

#505 493 feature add reservation modal on calendar
  apps/web/module/Hosting/Reservations/Calendar/Activity/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/ReservationCalendarModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Sidebar.tsx
  apps/web/module/Hosting/Reservations/types/CalendarTable.d.ts
Labels: story, frontend

#507 [Story - Feature] Added Example Rental photos description and tags
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/components/modals/EditPhotoModal.tsx
Labels: frontend, task, host account

#508 [Story-Feature] Include slots and price in get activity by id endpoint
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/price-slots.ts
Labels: backend, task, host account

#512 [Story-Feature] Create custom hook for update activity pricing and slots
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/price-slots.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityPricingSlots.ts
Labels: frontend, task, host account

#513 [Story-Feature] Modify bookableUnitType Schema
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: database, backend, task, host account

#515 [Bug-Feature] Fixed error on wrong field name on activity price
  apps/api/src/routes/api/activities-v2/services/default.ts
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: bug, backend, task, host account

#516 [Feature-Feature] Activity pricing and slots backend
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/price-slots.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityPricingSlots.ts
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: story, backend, frontend, host account

#517 [Feature - Develop] Created backend api for activity pricing and slots
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/price-slots.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityPricingSlots.ts
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: feature, backend, frontend, host account

#518 [Story-Feature] Modify add and update whole place endpoint
  apps/api/src/routes/api/properties-v2/services/units.ts
Labels: backend, task, host account

#525 [Bug-Feature] Fixed error on saving rental price required field cannot be…
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
Labels: bug, frontend, task, host account

#526 [Feature-Feature] Adjusted rental adjustment
  apps/api/src/routes/api/rentals-v2/services/addOns.ts
  apps/api/src/routes/api/rentals-v2/services/details.ts
  apps/api/src/routes/mock/rentals/service/addOns.ts
  apps/api/src/routes/mock/rentals/service/details.ts
  apps/api/src/routes/mock/rentals/service/jsons/rentals.ts
  apps/web/common/components/SpecificMap.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Bicycle.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Motorbike.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/modal/ConfirmationMapLocationModal.tsx
  apps/web/module/Hosting/Listings/components/modals/EditPhotoModal.tsx
  apps/web/package.json
  packages/contract/src/Rental/zod.ts
  packages/database/mongo/models/dbRentalAddOns.ts
  packages/database/mongo/models/dbRentalDetails.ts
  pnpm-lock.yaml
Labels: enhancement, story, frontend, host account

#527 [Story - Feature] Connected Whole place bedrooms to backend
  apps/api/src/routes/api/properties-v2/index.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateWholePlaceBasicInfo.ts
Labels: frontend, task, host account

#538 [Story-Feature] Added function onClick on map location marker change position
  apps/web/common/components/SpecificMap.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/modal/ConfirmationMapLocationModal.tsx
  apps/web/tailwind.config.ts
Labels: enhancement, frontend, task, host account

#539 [Story-Feature] On bed and room name make it select with custom input
  apps/web/common/components/ui/CreatableSelect.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: frontend, task, host account

#540 [Develop - Feature] Sync Host account
  apps/api/src/routes/api/activities-v2/index.ts
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/activities-v2/services/price-slots.ts
  apps/web/app/(listing)/listing/property/[propertyId]/checkout/page.tsx
  apps/web/app/(listing)/listing/property/[propertyId]/message/page.tsx
  apps/web/app/(listing)/listing/property/[propertyId]/page.tsx
  apps/web/module/Accommodation/components/AvailableBooking.tsx
  apps/web/module/Accommodation/components/CheckoutBox.tsx
  apps/web/module/Accommodation/components/ImageGallery.tsx
  apps/web/module/Accommodation/components/SectionInfo.tsx
  apps/web/module/Accommodation/components/modals/ImageGalleryModal.tsx
  apps/web/module/Accommodation/index.tsx
  apps/web/module/Accommodation/types/AvailableBooking.ts
  apps/web/module/Accommodation/types/SectionInfo.d.ts
  apps/web/module/Hosting/Listings/Activities/hooks/useUpdateActivityPricingSlots.ts
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement

#542 [Story- Feature] Connected available backend to rental public single page
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/web/app/(listing)/listing/rental/[rentalId]/page.tsx
  apps/web/module/Listing/Rental/components/BookingDescription.tsx
  apps/web/module/Listing/Rental/components/CheckoutBox.tsx
  apps/web/module/Listing/Rental/components/Inclusions.tsx
  apps/web/module/Listing/Rental/components/Map.tsx
  apps/web/module/Listing/Rental/components/Requirements.tsx
  apps/web/module/Listing/Rental/index.tsx
  apps/web/module/Listing/Rental/types/BookingAboutDescription.d.ts
  apps/web/module/Listing/Rental/types/Map.d.ts
Labels: story, frontend, host account

#543 [Story-Feature] Implemented custom input in room unit
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
Labels: frontend, task, host account

#544 [Feature - Feature] Sync 07-09-2024 comments to host account
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/common/components/SpecificMap.tsx
  apps/web/common/components/ui/CreatableSelect.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/modal/ConfirmationMapLocationModal.tsx
  apps/web/package.json
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Labels: story, frontend, host account

#545 [Feat - Feat] Sync host account to develop
  apps/api/src/routes/api/properties-v2/index.ts
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/api/src/routes/api/rentals-v2/services/addOns.ts
  apps/api/src/routes/api/rentals-v2/services/default.ts
  apps/api/src/routes/api/rentals-v2/services/details.ts
  apps/api/src/routes/mock/rentals/service/addOns.ts
  apps/api/src/routes/mock/rentals/service/details.ts
  apps/api/src/routes/mock/rentals/service/jsons/rentals.ts
  apps/web/app/(listing)/listing/rental/[rentalId]/page.tsx
  apps/web/common/components/SpecificMap.tsx
  apps/web/common/components/ui/CreatableSelect.tsx
  apps/web/module/Admin/Listings/Declined/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateRoomBasicInfo.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateWholePlaceBasicInfo.ts
  apps/web/module/Hosting/Listings/Rentals/Rental/AddOns/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Details/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Bicycle.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Car.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/Details/Motorbike.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/Listings/components/modals/EditPhotoModal.tsx
  apps/web/module/Listing/Rental/components/BookingDescription.tsx
  apps/web/module/Listing/Rental/components/CheckoutBox.tsx
  apps/web/module/Listing/Rental/components/Inclusions.tsx
  apps/web/module/Listing/Rental/components/Map.tsx
  apps/web/module/Listing/Rental/components/Requirements.tsx
  apps/web/module/Listing/Rental/index.tsx
  apps/web/module/Listing/Rental/types/BookingAboutDescription.d.ts
  apps/web/module/Listing/Rental/types/Map.d.ts
  apps/web/package.json
  apps/web/tailwind.config.ts
  packages/contract/src/Rental/zod.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbRentalAddOns.ts
  packages/database/mongo/models/dbRentalDetails.ts
  pnpm-lock.yaml
Labels: feature, frontend, host account

#548 [Feature-Feature] Connect public listing activity single view to backend
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/module/Listing/Activity/CancellationPolicyModal.tsx
  apps/web/module/Listing/Activity/Itinerary/Builder.tsx
  apps/web/module/Listing/Activity/ThingsToKnow.tsx
  apps/web/module/Listing/Activity/ThingsToKnow/TitleLists.tsx
  apps/web/module/Listing/Activity/index.tsx
  apps/web/module/Listing/types/ThingsToKnow.d.ts
Labels: story, frontend, host account

#553 [Story-Feature] Put all the maps in modal
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
Labels: enhancement, story, frontend, host account

#558 [Story-Feature] Add Margin 8 for all inputs in setup all categories
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/Builder.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
Labels: enhancement, frontend, task, host account

#560 [Story - Feature] Photos description and tags now required in all categories
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Photos/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
Labels: enhancement, story, frontend, host account

#562 [ Feature - Develop ] Blog general UI
  apps/web/app/(blog)/blog/[blogName]/page.tsx
  apps/web/app/(blog)/layout.tsx
  apps/web/module/Blog/BlogChecklist.tsx
  apps/web/module/Blog/BlogImages.tsx
  apps/web/module/Blog/PopularBlogs.tsx
  apps/web/module/Blog/TopThingsToDo.tsx
  apps/web/module/Blog/WhereToStay.tsx
  apps/web/module/Blog/components/GridImage.tsx
  apps/web/module/Blog/data.json
  apps/web/module/Blog/index.tsx
Labels: frontend

#563 [ Story - Feature ] Make insights payment history and earnings in insights sections
  apps/web/app/(host)/hosting/payment-history/graph/page.tsx
  apps/web/common/components/HostLayout/Sidebar.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
  apps/web/module/Hosting/Earnings/components/exportReportExcel.tsx
  apps/web/module/Hosting/Insights/helpers/insightsTabs.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/components/exportReportExcel.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
Labels: enhancement, frontend, task, host account

#564 [ Story - Feature ] Add descriptions on insights
  apps/web/module/Hosting/Earnings/EarningsPaid.tsx
  apps/web/module/Hosting/Earnings/EarningsThisMonth.tsx
  apps/web/module/Hosting/Earnings/EarningsUpcoming.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
Labels: frontend, task, host account

#566 [ Story - Feature ] Activity booking box UI
  apps/web/common/components/ui/Calendar.tsx
  apps/web/module/Accommodation/components/modals/GuestAddModal.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Listing/Activity/CheckoutBox.tsx
  apps/web/module/Listing/Activity/ScheduleDataModal.tsx
  apps/web/module/Listing/Activity/index.tsx
Labels: frontend, host account

#567 [Bug-Feature] Make it again a dropdown then the last choice is custom
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
Labels: bug, enhancement, host account

#569 [Feature - Feature] Merged 07-12-2024-comments to parent comments
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/Builder.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Listing/Activity/CancellationPolicyModal.tsx
  apps/web/module/Listing/Activity/Itinerary/Builder.tsx
  apps/web/module/Listing/Activity/ThingsToKnow.tsx
  apps/web/module/Listing/Activity/ThingsToKnow/TitleLists.tsx
  apps/web/module/Listing/Activity/index.tsx
  apps/web/module/Listing/types/ThingsToKnow.d.ts
Labels: feature, frontend, host account

#570 [Story-Feature] Merge 07-16-2024-comments to parent comments
  apps/web/app/(host)/hosting/payment-history/graph/page.tsx
  apps/web/common/components/HostLayout/Sidebar.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/EarningsPaid.tsx
  apps/web/module/Hosting/Earnings/EarningsThisMonth.tsx
  apps/web/module/Hosting/Earnings/EarningsUpcoming.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
  apps/web/module/Hosting/Earnings/components/exportReportExcel.tsx
  apps/web/module/Hosting/Insights/helpers/insightsTabs.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/components/exportReportExcel.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
Labels: enhancement, story, frontend, host account

#571 [Story-Feature] Apply the map logic onclick of category location setup to activity itinerary
  apps/web/common/components/CustomSpecificMap.tsx
Labels: frontend, task, host account

#572 [Story-Feature] Merge 07-09-2024 comments to parent comments
  apps/web/common/components/CustomSpecificMap.tsx
Labels: enhancement, story, frontend, host account

#573 Feature - Develop] Merge updates to develop from comments
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/app/(host)/hosting/payment-history/graph/page.tsx
  apps/web/common/components/CustomSpecificMap.tsx
  apps/web/common/components/HostLayout/Sidebar.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/EarningsPaid.tsx
  apps/web/module/Hosting/Earnings/EarningsThisMonth.tsx
  apps/web/module/Hosting/Earnings/EarningsUpcoming.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
  apps/web/module/Hosting/Earnings/components/exportReportExcel.tsx
  apps/web/module/Hosting/Insights/helpers/insightsTabs.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/Builder.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/components/exportReportExcel.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
  apps/web/module/Listing/Activity/CancellationPolicyModal.tsx
  apps/web/module/Listing/Activity/Itinerary/Builder.tsx
  apps/web/module/Listing/Activity/ThingsToKnow.tsx
  apps/web/module/Listing/Activity/ThingsToKnow/TitleLists.tsx
  apps/web/module/Listing/Activity/index.tsx
  apps/web/module/Listing/types/ThingsToKnow.d.ts
Labels: feature, frontend, host account

#565 [Feature - Develop] Create search bar UI in home page
  apps/web/app/(regular)/activities/page.tsx
  apps/web/app/(regular)/layout.tsx
  apps/web/app/(regular)/rentals/page.tsx
  apps/web/common/components/Header.tsx
  apps/web/common/components/SearchBar.tsx
  apps/web/common/components/SearchBar/ActivitiesSearchBar/index.tsx
  apps/web/common/components/SearchBar/PropertySearchBar/index.tsx
  apps/web/common/components/SearchBar/RentalsSearchBar/index.tsx
  apps/web/common/store/useSearchStore.ts
  apps/web/module/LandingPage/index.tsx
Labels: feature, frontend

#575 [Feature-Story] Connect public listing property single view to backend
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/common/helpers/iconMap.tsx
  apps/web/module/Accommodation/components/AvailableBooking.tsx
  apps/web/module/Accommodation/components/CheckoutBox.tsx
  apps/web/module/Accommodation/components/IconDescription.tsx
  apps/web/module/Accommodation/components/Map.tsx
  apps/web/module/Accommodation/components/PlaceOffers.tsx
  apps/web/module/Accommodation/components/SummaryInfo.tsx
  apps/web/module/Accommodation/components/ThingsToKnow/PoliciesModal.tsx
  apps/web/module/Accommodation/components/ThingsToKnow/TitleLists.tsx
  apps/web/module/Accommodation/components/ThingsToKnow/index.tsx
  apps/web/module/Accommodation/components/WhereYouWillBe.tsx
  apps/web/module/Accommodation/components/WhereYouWillBeModal.tsx
  apps/web/module/Accommodation/components/modals/CheckoutBreakdownModal.tsx
  apps/web/module/Accommodation/components/modals/ModalHouseRules.tsx
  apps/web/module/Accommodation/components/modals/UnitDetailsModal.tsx
  apps/web/module/Accommodation/index.tsx
  apps/web/module/Accommodation/types/AvailableBooking.ts
  apps/web/module/Accommodation/types/Map.d.ts
  apps/web/module/Accommodation/types/PlaceOffer.d.ts
  apps/web/module/Accommodation/types/SummaryInfo.d.ts
  apps/web/module/Accommodation/types/ThingsToKnow.d.ts
  apps/web/module/Listing/components/modals/HouseRuleModal.tsx
  apps/web/module/Listing/components/modals/PlaceOfferModal.tsx
  packages/database/mongo/models/dbUnitPrices.ts
Labels: frontend, task, host account

#585 [Bug-Feature] Fix error on saving editing segments
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/web/module/Listing/Activity/index.tsx
Labels: bug, story, frontend, host account

#592 [ Story - Feature ] Change url of restaurant and surf guide
  apps/web/app/(blog-guide)/guide/siargao/restaurant/[guideName]/page.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
Labels: frontend, task, host account

#595 [Bug-Feature] Fixed error on Activity Box UI
  apps/web/module/Listing/Activity/CheckoutBox.tsx
Labels: bug, frontend, task, host account

#591 [Feature - Develop] Merge updated host account to develop
  apps/api/src/routes/api/activities-v2/services/default.ts
  apps/api/src/routes/api/properties-v2/services/default.ts
  apps/web/common/components/ui/Calendar.tsx
  apps/web/common/helpers/iconMap.tsx
  apps/web/module/Accommodation/components/AvailableBooking.tsx
  apps/web/module/Accommodation/components/CheckoutBox.tsx
  apps/web/module/Accommodation/components/IconDescription.tsx
  apps/web/module/Accommodation/components/Map.tsx
  apps/web/module/Accommodation/components/PlaceOffers.tsx
  apps/web/module/Accommodation/components/SummaryInfo.tsx
  apps/web/module/Accommodation/components/ThingsToKnow/PoliciesModal.tsx
  apps/web/module/Accommodation/components/ThingsToKnow/TitleLists.tsx
  apps/web/module/Accommodation/components/ThingsToKnow/index.tsx
  apps/web/module/Accommodation/components/WhereYouWillBe.tsx
  apps/web/module/Accommodation/components/WhereYouWillBeModal.tsx
  apps/web/module/Accommodation/components/modals/CheckoutBreakdownModal.tsx
  apps/web/module/Accommodation/components/modals/GuestAddModal.tsx
  apps/web/module/Accommodation/components/modals/ModalHouseRules.tsx
  apps/web/module/Accommodation/components/modals/UnitDetailsModal.tsx
  apps/web/module/Accommodation/index.tsx
  apps/web/module/Accommodation/types/AvailableBooking.ts
  apps/web/module/Accommodation/types/Map.d.ts
  apps/web/module/Accommodation/types/PlaceOffer.d.ts
  apps/web/module/Accommodation/types/SummaryInfo.d.ts
  apps/web/module/Accommodation/types/ThingsToKnow.d.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Photos/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Room.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Photos/index.tsx
  apps/web/module/Listing/Activity/CheckoutBox.tsx
  apps/web/module/Listing/Activity/ScheduleDataModal.tsx
  apps/web/module/Listing/Activity/index.tsx
  apps/web/module/Listing/components/modals/HouseRuleModal.tsx
  apps/web/module/Listing/components/modals/PlaceOfferModal.tsx
  packages/database/mongo/models/dbUnitPrices.ts
Labels: enhancement, feature, frontend, host account

#590 [Feature - Develop] Merge Comments to Develop
  apps/web/app/(blog-guide)/guide/siargao/restaurant/[guideName]/page.tsx
  apps/web/module/Accommodation/components/AvailableBooking.tsx
  apps/web/module/Accommodation/components/ImageGallery.tsx
  apps/web/module/Accommodation/index.tsx
  apps/web/module/Accommodation/types/AvailableBooking.ts
  apps/web/module/Accommodation/types/SectionInfo.d.ts
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
  apps/web/module/Listing/Activity/CheckoutBox.tsx
  apps/web/module/Listing/Activity/index.tsx
Labels: feature, frontend, host account

#596 [Develop - Feature] Sync Develop to Feature
  apps/web/app/(blog)/blog/[blogName]/page.tsx
  apps/web/app/(blog)/layout.tsx
  apps/web/app/(blog-guide)/guide/siargao/restaurant/[guideName]/page.tsx
  apps/web/app/(host)/hosting/payment-history/graph/page.tsx
  apps/web/app/(regular)/activities/page.tsx
  apps/web/app/(regular)/layout.tsx
  apps/web/app/(regular)/rentals/page.tsx
  apps/web/common/components/CustomSpecificMap.tsx
  apps/web/common/components/Header.tsx
  apps/web/common/components/HostLayout/Sidebar.tsx
  apps/web/common/components/SearchBar.tsx
  apps/web/common/components/SearchBar/ActivitiesSearchBar/index.tsx
  apps/web/common/components/SearchBar/PropertySearchBar/index.tsx
  apps/web/common/components/SearchBar/RentalsSearchBar/index.tsx
  apps/web/common/store/useSearchStore.ts
  apps/web/module/Accommodation/components/AvailableBooking.tsx
  apps/web/module/Accommodation/components/ImageGallery.tsx
  apps/web/module/Accommodation/index.tsx
  apps/web/module/Accommodation/types/AvailableBooking.ts
  apps/web/module/Accommodation/types/SectionInfo.d.ts
  apps/web/module/Blog/BlogChecklist.tsx
  apps/web/module/Blog/BlogImages.tsx
  apps/web/module/Blog/PopularBlogs.tsx
  apps/web/module/Blog/TopThingsToDo.tsx
  apps/web/module/Blog/WhereToStay.tsx
  apps/web/module/Blog/components/GridImage.tsx
  apps/web/module/Blog/data.json
  apps/web/module/Blog/index.tsx
  apps/web/module/BlogGuide/Guide/TravelBlog/index.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/EarningsPaid.tsx
  apps/web/module/Hosting/Earnings/EarningsThisMonth.tsx
  apps/web/module/Hosting/Earnings/EarningsUpcoming.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
  apps/web/module/Hosting/Earnings/components/exportReportExcel.tsx
  apps/web/module/Hosting/Insights/helpers/insightsTabs.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Inclusions/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/Builder.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Itinerary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Location/index.tsx
  apps/web/module/Hosting/Listings/Rentals/Rental/Summary/index.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/components/OverAllSummary.tsx
  apps/web/module/Hosting/PaymentHistory/components/exportReportExcel.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
  apps/web/module/LandingPage/index.tsx
  apps/web/module/Listing/Activity/CheckoutBox.tsx
  apps/web/module/Listing/Activity/index.tsx
Labels: host account

#598 [Story-Feature] Modify Create property unit modal
  apps/web/module/Hosting/Listings/Properties/Property/Units/modals/SelectUnitTypeModal.tsx
Labels: story, frontend, host account

#599 [ Story - Feature ] Change the bar graph of payment history to month by month
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/Graph.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
Labels: frontend, task, host account

#607 [Story-Feature] Added filter to earnings
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
Labels: frontend, task, host account

#609 [Story- Feature] Finished 07-19-2024 comments and merge to sprint 4 priorities
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/PaymentHistory/Graph.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
Labels: frontend, host account

#610 [Story-Feature] Modify Add shared space/beds page ui
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateBedBasicInfo.ts
  packages/contract/src/BookableUnitType/type.ts
  packages/contract/src/BookableUnitType/zod.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: story, backend, frontend, host account

#616 [Story-Feature] Created component for bottom part of home page
  apps/web/module/LandingPage/components/ImageTextCard.tsx
  apps/web/public/airport.jpg
  apps/web/public/image1.jpg
  apps/web/public/surf.jpg
Labels: frontend, task

#617 [Task-Story] Added user interface for surfing guide page
  apps/web/app/(guides)/guides/layout.tsx
  apps/web/app/(guides)/guides/surfing/page.tsx
  apps/web/common/components/MultipleMarkerMap.tsx
  apps/web/module/Guides/Surfing/index.tsx
  apps/web/module/Guides/components/GuideContent.tsx
  apps/web/module/Guides/components/GuideSearchBar.tsx
  apps/web/module/Guides/components/GuideSelect.tsx
  apps/web/module/Guides/components/Guides.tsx
  apps/web/module/Guides/components/Header.tsx
Labels: frontend, task, host account

#618 [Task-Story] Create custom components for essential travel information
  apps/web/common/assets/sample/island-1.jpg
  apps/web/common/assets/sample/island-10.jpg
  apps/web/common/assets/sample/island-11.jpg
  apps/web/common/assets/sample/island-12.jpg
  apps/web/common/assets/sample/island-2.jpg
  apps/web/common/assets/sample/island-3.jpg
  apps/web/common/assets/sample/island-4.jpg
  apps/web/common/assets/sample/island-5.jpg
  apps/web/common/assets/sample/island-6.jpg
  apps/web/common/assets/sample/island-7.jpg
  apps/web/common/assets/sample/island-8.jpg
  apps/web/common/assets/sample/island-9.jpg
  apps/web/module/LandingPage/components/Slider.tsx
  apps/web/module/LandingPage/components/TravelSlider.tsx
  apps/web/module/LandingPage/index.tsx
Labels: enhancement, frontend, task

#619 [Story-Feature] Created component for browse property types cards list
  apps/web/module/LandingPage/components/PropertySlider.tsx
  apps/web/module/LandingPage/components/TravelStyleSlider.tsx
  apps/web/module/LandingPage/index.tsx
Labels: frontend, task, host account

#620 [Task-Story] Restaurant Guide Page
  CHANGELOG.md
  apps/web/app/(guides)/guides/restaurant-cafe-bars/page.tsx
  apps/web/module/Guides/Restaurant/index.tsx
  apps/web/module/Guides/Surfing/index.tsx
  apps/web/module/Guides/components/GuideContent.tsx
  apps/web/module/Guides/components/Guides.tsx
  package.json
Labels: frontend, task, host account

#621 [Story-Feature] Updated improve home page UI to sprint 4 priorities
  apps/web/common/assets/sample/island-1.jpg
  apps/web/common/assets/sample/island-10.jpg
  apps/web/common/assets/sample/island-11.jpg
  apps/web/common/assets/sample/island-12.jpg
  apps/web/common/assets/sample/island-2.jpg
  apps/web/common/assets/sample/island-3.jpg
  apps/web/common/assets/sample/island-4.jpg
  apps/web/common/assets/sample/island-5.jpg
  apps/web/common/assets/sample/island-6.jpg
  apps/web/common/assets/sample/island-7.jpg
  apps/web/common/assets/sample/island-8.jpg
  apps/web/common/assets/sample/island-9.jpg
  apps/web/module/LandingPage/components/ImageTextCard.tsx
  apps/web/module/LandingPage/components/PropertySlider.tsx
  apps/web/module/LandingPage/components/Slider.tsx
  apps/web/module/LandingPage/components/TravelSlider.tsx
  apps/web/module/LandingPage/components/TravelStyleSlider.tsx
  apps/web/module/LandingPage/index.tsx
  apps/web/public/airport.jpg
  apps/web/public/image1.jpg
  apps/web/public/surf.jpg
Labels: story, frontend, host account

#622 [Story-Feature] Updated Guide pages to sprint 4
  CHANGELOG.md
  apps/web/app/(guides)/guides/layout.tsx
  apps/web/app/(guides)/guides/restaurant-cafe-bars/page.tsx
  apps/web/app/(guides)/guides/surfing/page.tsx
  apps/web/common/components/MultipleMarkerMap.tsx
  apps/web/module/Guides/Restaurant/index.tsx
  apps/web/module/Guides/Surfing/index.tsx
  apps/web/module/Guides/components/GuideContent.tsx
  apps/web/module/Guides/components/GuideSearchBar.tsx
  apps/web/module/Guides/components/GuideSelect.tsx
  apps/web/module/Guides/components/Guides.tsx
  apps/web/module/Guides/components/Header.tsx
  package.json
Labels: story, frontend, host account

#623 [Task-Story] Getting to Know Island Page
  apps/web/app/(guides)/guides/islands/page.tsx
  apps/web/module/Guides/Islands/index.tsx
Labels: frontend, task, host account

#628 [Story - Feature] Created guide pages
  apps/web/app/(guides)/guides/islands/page.tsx
  apps/web/app/(guides)/guides/restaurants/[restaurant-name]/page.tsx
  apps/web/app/(guides)/guides/surfing/[surf-name]/page.tsx
  apps/web/module/Guides/Islands/index.tsx
Labels: frontend, task, host account

#630 [Feature- Story] Sync updated code to improve home page
  CHANGELOG.md
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/app/(guides)/guides/islands/page.tsx
  apps/web/app/(guides)/guides/layout.tsx
  apps/web/app/(guides)/guides/restaurants/[restaurant-name]/page.tsx
  apps/web/app/(guides)/guides/surfing/[surf-name]/page.tsx
  apps/web/common/components/MultipleMarkerMap.tsx
  apps/web/module/Guides/Islands/index.tsx
  apps/web/module/Guides/Restaurant/index.tsx
  apps/web/module/Guides/Surfing/index.tsx
  apps/web/module/Guides/components/GuideContent.tsx
  apps/web/module/Guides/components/GuideSearchBar.tsx
  apps/web/module/Guides/components/GuideSelect.tsx
  apps/web/module/Guides/components/Guides.tsx
  apps/web/module/Guides/components/Header.tsx
  apps/web/module/Hosting/Earnings/EarningGraphTab.tsx
  apps/web/module/Hosting/Earnings/components/YearToDateSummaryBox.tsx
  apps/web/module/Hosting/Insights/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateBedBasicInfo.ts
  apps/web/module/Hosting/PaymentHistory/Graph.tsx
  apps/web/module/Hosting/PaymentHistory/GraphTab.tsx
  apps/web/module/Hosting/PaymentHistory/hooks/useGetFilteredPaymentHistory.tsx
  package.json
  packages/contract/src/BookableUnitType/type.ts
  packages/contract/src/BookableUnitType/zod.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: feature, frontend, host account

#632 [Story-Feature] Created new landing page UI
  apps/web/common/assets/sample/airport.jpg
  apps/web/common/assets/sample/image1.jpg
  apps/web/common/assets/sample/surf.jpg
  apps/web/module/LandingPage/components/ImageTextCard.tsx
  apps/web/module/LandingPage/components/PropertySlider.tsx
  apps/web/module/LandingPage/components/TravelStyleSlider.tsx
  apps/web/module/LandingPage/index.tsx
Labels: frontend, task, host account

#634 [Story-Feature] Connected guide pages to landing page
  apps/web/module/LandingPage/index.tsx
Labels: frontend, task, host account

#633 [ Feature ] Modify Add whole place page ui
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/AddBedroomModal.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Bedroom.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Photos.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/store/useBedroomStore.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/constants/index.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/types/index.ts
  apps/web/module/Hosting/Listings/Properties/hooks/useUpdateWholePlaceBasicInfo.ts
  apps/web/package.json
  packages/database/mongo/models/dbBookableUnitTypes.ts
  pnpm-lock.yaml
Labels: story, backend, frontend, host account

#640 [Story-Feature] Removed description to units list
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  packages/database/mongo/models/dbBookableUnitTypes.ts
Labels: frontend, task, host account

#641 [ Story - Feature ] Make the guide map square
  apps/web/module/BlogGuide/Guide/SurfingGuide/Directions.tsx
  apps/web/module/Guides/components/GuideContent.tsx
Labels: frontend, task, host account

#642 [Story-Feature] Added quantity to shared room
  apps/api/src/routes/api/properties-v2/services/units.ts
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/Bed.tsx
  packages/contract/src/BookableUnitType/zod.ts
Labels: frontend, task, host account

#659 [Story-Feature] Create reusable minimap search ui
  apps/web/common/components/Filters/Minimap.tsx
Labels: frontend, task, host account

#658 [Task-Story] Create reusable checkBoxFilter component
  apps/web/common/components/Filters/CheckBoxFilter/index.tsx
  apps/web/common/store/useFilterStore.ts
Labels: frontend, task, host account

#660 [Task-Story] Create reusable numericFilter component
  apps/web/common/components/Filters/NumericFilter/index.tsx
  apps/web/common/store/useFilterStore.ts
Labels: frontend, task, host account
