Repository explore-siargao/es-main, pull requests merged in 2024-10, with the labels that each got.

#1159 Created reservation cancellation modal for all calendar types
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/PropertyCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/BikeCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/CarCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/MotorCalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
Labels: enhancement, frontend, host account, calendar

#1160 Added else statement to all backend functions that contains res.json on if statements
  apps/api/src/routes/api/activities/services/activity-inclussions.ts
  apps/api/src/routes/api/activities/services/additionalInfo.ts
  apps/api/src/routes/api/activities/services/basic-info.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/api/src/routes/api/activities/services/photos.ts
  apps/api/src/routes/api/activities/services/price-slots.ts
  apps/api/src/routes/api/activities/services/status.ts
  apps/api/src/routes/api/payments/services/paymentMethods.ts
  apps/api/src/routes/api/properties/services/amenities.ts
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/api/src/routes/api/properties/services/default.ts
  apps/api/src/routes/api/properties/services/facilities.ts
  apps/api/src/routes/api/properties/services/finishedSections.ts
  apps/api/src/routes/api/properties/services/photos.ts
  apps/api/src/routes/api/properties/services/policies.ts
  apps/api/src/routes/api/properties/services/propertyType.ts
  apps/api/src/routes/api/properties/services/status.ts
  apps/api/src/routes/api/properties/services/unitPrice.ts
  apps/api/src/routes/api/properties/services/units.ts
  apps/api/src/routes/api/rentals/services/addOns.ts
  apps/api/src/routes/api/rentals/services/basicInfo.ts
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/api/src/routes/api/rentals/services/default.ts
  apps/api/src/routes/api/rentals/services/details.ts
  apps/api/src/routes/api/rentals/services/finishedSections.ts
  apps/api/src/routes/api/rentals/services/locations.ts
  apps/api/src/routes/api/rentals/services/photos.ts
  apps/api/src/routes/api/rentals/services/rates.ts
  apps/api/src/routes/api/rentals/services/rentals.ts
  apps/api/src/routes/api/reports/services/reportListings.ts
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/api/src/routes/api/reservations/services/unitsReservation.ts
  apps/api/src/routes/api/users/services/beHost.ts
  apps/api/src/routes/api/users/services/default.ts
  apps/api/src/routes/api/users/services/personalInfo.ts
  apps/api/src/routes/api/users/services/userProfile.ts
  apps/web/tsconfig.json
Labels: enhancement, backend, cleanup

#1161 Modified endpoint for updating price per dates in rental a…
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/api/src/routes/api/rentals/services/calendar.ts
Labels: enhancement, backend, host account, calendar

#1163 Adjusted functions of adding price per dates in properties…
  apps/web/module/Hosting/Reservations/Calendar/Property/CalendarTable.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/PropertyEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/Rental/RentalsEditPricePerDatesModal.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdaateUnitPricePerDate.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdateRentalPricePerDate.ts
Labels: enhancement, frontend, host account, calendar, client feedback

#1164 Allow listing page for rental and property to be viewed publicly
  apps/api/src/routes/api/properties/index.ts
  apps/api/src/routes/api/properties/services/default.ts
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/default.ts
  apps/web/app/(accommodation)/accommodation/[listingId]/message/page.tsx
  apps/web/app/(guides)/siargao/surfing/guides/[guideName]/page.tsx
  apps/web/app/(listing)/layout.tsx
  apps/web/app/(listing)/listing/property/[propertyId]/message/page.tsx
  apps/web/app/(listing)/listing/property/[propertyId]/page.tsx
  apps/web/app/(listing)/listing/rental/[rentalId]/page.tsx
  apps/web/app/error.tsx
  apps/web/common/constants/page-titles.ts
  apps/web/common/helpers/getRequest.ts
  apps/web/module/Listing/Property/index.tsx
  apps/web/module/Listing/Rental/components/Inclusions.tsx
  apps/web/module/Listing/Rental/index.tsx
  packages/contract/src/BackendResponse/zod.ts
Labels: enhancement, frontend, cleanup

#1169 chore: Updated read me setup of project
  README.md
  package.json
Labels: enhancement, minor

#1171 Modified activity model schema added schedule and time slots
  apps/api/src/routes/api/activities/services/additionalInfo.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, database, backend, listing

#1173 Modified affected endpoint functions due to modifying acti…
  apps/api/src/routes/api/activities/services/additionalInfo.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/web/module/Hosting/Listings/Activities/Activity/AdditionalInfo/index.tsx
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, backend, frontend, host account, listing

#1174 [Feature-Main] After updating property locations sidebar location not turn to green
  README.md
  apps/api/src/routes/api/properties/services/default.ts
  apps/web/module/Hosting/Listings/Properties/Property/Location.tsx
Labels: enhancement, frontend, host account, listing

#1175 [Bugfix] Activity setup summary error on image UI
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
Labels: bug, enhancement, frontend, host account, listing

#1177 Fixed bug after saving property policies sidebar changing layout
  apps/web/common/components/HostLayout/ListingSidebar/SetupSidebar.tsx
Labels: bug, enhancement, frontend, listing

#1178 feat: Create pricing ui for activity setup
  apps/api/src/routes/api/activities/services/price-slots.ts
  apps/web/app/(listing-activity)/hosting/listings/activities/[listingId]/pricing/page.tsx
  apps/web/app/(new-listing-activity)/hosting/listings/activities/setup/[listingId]/pricing/page.tsx
  apps/web/common/components/HostLayout/ListingSidebar/links/edit.tsx
  apps/web/common/components/HostLayout/ListingSidebar/links/setup.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Photos/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
Labels: enhancement, frontend, host account, listing

#1179 Activity add price per dates endpoint
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
  apps/api/src/routes/api/activities/services/price-slots.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
Labels: enhancement, backend, host account, calendar

#1180 Added endpoint for get private and joiner activities calendar
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
Labels: enhancement, backend, host account, calendar

#1182 [Feature-Main] Create add activity calendar reservation
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
Labels: backend, host account, calendar

#1183 Added endpoint for cancelling rental reservation and gettng activity counts
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
Labels: backend, host account, calendar

#1184 Added cancel rental reservation function
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/PropertyCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/RentalCalendarModal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useCancelRentalReservation.ts
Labels: enhancement, frontend, host account, calendar

#1188 Cleanup for activity pricing to have consistent UI
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
Labels: frontend, minor, listing, cleanup

#1190 Added condition for saving activity pricing
  CHANGELOG.md
  apps/web/common/components/HostLayout/ListingSidebar/SetupSidebar.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
Labels: enhancement, frontend, minor, cleanup

#1192 Update changelog to combine commits
  CHANGELOG.md
Labels: enhancement, cleanup

#1193 Remove manually added commit in changelog
  CHANGELOG.md
Labels: enhancement, cleanup

#1187 [Feature-Main] Add activity calendar reservation function
  apps/api/src/routes/api/reservations/services/activityReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Activity/ActivityReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Activity/hooks/useAddActivityReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Activity/hooks/useGetActivityByHost.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Activity/hooks/useGetActivityById.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Activity/index.tsx
Labels: backend, frontend, host account, for refinement, calendar

#1201 Modified activity and reservation model
  apps/api/src/routes/api/activities/services/calendar.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/api/src/routes/api/activities/services/price-slots.ts
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbReservations.ts
Labels: enhancement, backend, host account, calendar, listing

#1204 Added logic allowed days to cancel to rental cancel reservation endpoint
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/web/app/(host)/hosting/reservations/calendar/properties/page.tsx
Labels: enhancement, backend, host account, calendar

#1206 Added endpoint for adding joiner activity reservation
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
Labels: enhancement, backend, host account, calendar

#1207 Added Pricing, Experience Type and Categories in activity summary
  apps/web/module/Hosting/Listings/Activities/Activity/BasicInfo/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
  apps/web/module/Listing/Activity/CheckoutBox.tsx
  apps/web/module/Listing/Activity/index.tsx
  packages/contract/src/Activities/zod.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, frontend, minor, calendar

#1208 Type error fix for Private and Joiner
  apps/api/src/routes/api/activities/services/price-slots.ts
  apps/web/module/Hosting/Listings/Activities/Activity/Summary/index.tsx
Labels: backend, patch, calendar, listing

#1209 Modified keys on property, renntal, activity and reservation model from ids to qtyIds
  apps/api/src/routes/api/activities/services/price-slots.ts
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/api/src/routes/api/properties/services/units.ts
  apps/api/src/routes/api/rentals/services/basicInfo.ts
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/api/src/routes/api/rentals/services/rentals.ts
  apps/api/src/routes/api/reservations/services/rentalReservation.ts
  apps/api/src/routes/api/reservations/services/unitsReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/AddReservationModal/Rental/RentalReservationForm/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/modals/add-reservation-modal/property-reservation-form.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useAddRentalReservation.ts
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbRentals.ts
  packages/database/mongo/models/dbReservations.ts
Labels: backend, host account, calendar

#1210 Modified return of get joiner activities calendar
  apps/api/src/routes/api/activities/services/calendar.ts
Labels: enhancement, backend, host account, calendar

#1212 Added Property cancellation function
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/unitsReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/Property/modals/info-cancel-modal.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useCancelPropertyReservation.ts
Labels: backend, frontend, host account, calendar

#1214 Added endpoint for editing private activity slot note
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
  packages/database/mongo/models/dbActivities.ts
Labels: enhancement, backend, host account, calendar

#1215 Added endpoint for editing slot name in joiner activities
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
Labels: enhancement, backend, host account, calendar

#1218 Fixed issue on not getting reservations on rental car and motorbike calendar
  apps/api/src/routes/api/rentals/services/calendar.ts
Labels: bug, backend, host account, calendar

#1220 Fixed error on getting private activities with reservation
  apps/api/src/routes/api/activities/services/calendar.ts
Labels: bug, backend, calendar

#1221 Fixed error on filter date function not working
  apps/web/module/Hosting/Reservations/Calendar/Property/calendar-table.tsx
  apps/web/module/Hosting/Reservations/Calendar/Property/controls.tsx
  apps/web/module/Hosting/Reservations/Calendar/SidebarActionModals/MonthYearSelectorModal/index.tsx
Labels: bug, frontend, calendar

#1223 Added endpoint for cancellation of activity reservations
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
Labels: backend, host account, calendar

#1227 Fixed bed units not showing and undefined values on summary
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
Labels: bug, enhancement, frontend, host account, listing

#1228 Added mutation functions for calendar private activities
  .vscode/settings.json
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
  apps/web/app/(host)/hosting/reservations/calendar/properties/page.tsx
  apps/web/module/Hosting/Listings/Activities/Activity/Pricing/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/constants.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/helpers/price-per-dates.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-activity-by-host.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-activity-counts.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-private-activities.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-private-activity-slots.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-update-activity-price-per-date.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-update-activity-reservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-update-activity-slot-note.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/modals/add-activity-reservation-modal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/modals/add-activity-reservation-modal/reservation-form.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/modals/edit-price-per-dates-modal.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/modals/info-cancel-modal.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/activity-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/activity-unit-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/stores/use-calendar-store.ts
  apps/web/module/Hosting/Reservations/Calendar/components/controls/buttons/add-reservation.tsx
  apps/web/module/Hosting/Reservations/Calendar/components/controls/buttons/filter-date.tsx
  apps/web/module/Hosting/Reservations/Calendar/components/controls/buttons/search-reservation.tsx
  apps/web/module/Hosting/Reservations/Calendar/components/controls/move.tsx
  apps/web/module/Hosting/Reservations/Calendar/hooks/useGetJoinerActivities.ts
  apps/web/module/Hosting/Reservations/Calendar/hooks/useUpdatePrivateActivityReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/property/calendar-table.tsx
  apps/web/tsconfig.json
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
Labels: bug, backend, frontend, host account, calendar, cleanup

#1234 Added endpoints for editing main notes of property, rental and activity calendar
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
  apps/api/src/routes/api/properties/index.ts
  apps/api/src/routes/api/properties/services/calendar.ts
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/calendar.ts
  apps/web/module/Hosting/Listings/Properties/Property/Summary/index.tsx
  packages/database/mongo/models/dbActivities.ts
  packages/database/mongo/models/dbBookableUnitTypes.ts
  packages/database/mongo/models/dbRentals.ts
Labels: enhancement, backend, host account, calendar

#1235 Corrected label on bed room and living rooms when adding beds
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/WholePlace.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/AddBedroomModal.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Bedroom.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/Edit/components/Livingroom.tsx
Labels: bug, enhancement, frontend, host account, listing

#1237 Added functions for activity joiner calendar mutations
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/calendar.ts
  apps/api/src/routes/api/activities/services/default.ts
  apps/api/src/routes/api/reservations/index.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
  apps/web/app/(host)/hosting/calendar/page.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/constants.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/helpers/price-per-dates.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-add-joiner-activity-reservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-add-private-activity-reservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-joiner-activities.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-joiner-activity-slots.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-get-private-activity-slots.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-update-activity-reservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-update-joiner-activity-reservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/hooks/use-update-private-activity-reservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-activity.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/activity-qty-slot-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/activity-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/activity-time-slot-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/modals/add-reservation-modal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/modals/add-reservation-modal/reservation-form.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/modals/info-cancel-modal.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/modals/add-reservation-modal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/modals/add-reservation-modal/reservation-form.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/modals/info-cancel-modal.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/stores/use-joiner-store.ts
  apps/web/module/Hosting/Reservations/components/ReservationTab.tsx
  packages/contract/src/Activities/type.ts
  packages/contract/src/Activities/zod.ts
Labels: enhancement, backend, frontend, host account, calendar

#1239 Fixed bug on adding private activity reservation
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/modals/add-reservation-modal/reservation-form.tsx
Labels: bug, frontend, host account, calendar

#1236 Fixed bug bed unit not displaying correct name in listing process
  apps/api/src/routes/api/properties/services/unitPrice.ts
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/index.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/components/UnitsTable.tsx
  apps/web/module/Hosting/Listings/Properties/Property/Units/constants/index.ts
Labels: frontend, host account, listing

#1246 Added get rentals by location and type with pagination that contain 15 items every page
  apps/api/src/common/middleware/paginations/paginate.ts
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/filtered.ts
Labels: backend, guest account, listing, search

#1247 Activity units liust fixed
  apps/api/src/routes/api/activities/services/default.ts
  apps/web/common/constants/index.ts
  apps/web/module/Hosting/Listings/Activities/index.tsx
  apps/web/module/LandingPage/components/SliderItem.tsx
Labels: bug, frontend, host account, listing, cleanup

#1252 Fixed error on not showing activity list when type of is exis…
  apps/api/src/routes/api/activities/services/default.ts
Labels: bug, backend, host account, calendar

#1254 Move the price per dates to header row on joiner activity …
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/activity-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/activity-time-slot-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/modals/edit-price-per-dates-modal.tsx
Labels: enhancement, frontend, host account, calendar

#1256 Changed logic for adding joiner activities reservation
  apps/api/src/routes/api/reservations/services/activityReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/modals/add-reservation-modal/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/modals/add-reservation-modal/reservation-form.tsx
Labels: enhancement, backend, frontend, host account, calendar

#1257 Added endpoint for getting properties by location and type
  apps/api/src/routes/api/activities/services/filtered.ts
  apps/api/src/routes/api/properties/index.ts
  apps/api/src/routes/api/properties/services/filtered.ts
  apps/api/src/routes/api/rentals/services/filtered.ts
Labels: enhancement, backend, guest account, listing

#1259 Fixed activity reservation blocked color not changeing
  apps/api/src/routes/api/activities/services/calendar.ts
  apps/api/src/routes/api/reservations/services/activityReservation.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/helpers/get-booking-style.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/helpers/normalize-date.ts
  apps/web/module/Hosting/Reservations/Calendar/activity/joiner-calendar-table/index.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-activity.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/activity-unit-rows.tsx
  apps/web/module/Hosting/Reservations/Calendar/activity/private-calendar-table/index.tsx
Labels: bug, backend, frontend, calendar

#1267 Converted params to search query params and added more query params for filtering rentals
  apps/api/src/routes/api/rentals/index.ts
  apps/api/src/routes/api/rentals/services/filtered.ts
  apps/web/module/Hosting/Reservations/components/reservation-tab.tsx
Labels: enhancement, backend, guest account, search page

#1269 Converted params to query params and added more filter options in activities
  apps/api/src/routes/api/activities/index.ts
  apps/api/src/routes/api/activities/services/filtered.ts
  apps/api/src/routes/api/rentals/services/filtered.ts
Labels: enhancement, backend, guest account, search page

#1272 Search page listing cards and map
  apps/web/module/Hosting/Listings/Properties/Property/Pricing/PricingContent.tsx
  apps/web/module/Listings/components/map/hooks/use-get-property-listings.ts
  apps/web/module/Listings/components/map/index.tsx
  apps/web/module/Listings/components/map/multi-marker-map.tsx
  apps/web/module/Listings/index.tsx
Labels: minor, guest account, listing, search page

#1273 Create second level header for search page
  apps/web/common/components/Header/WithSearch.tsx
  apps/web/common/components/Header/filter/index.tsx
  apps/web/common/components/Header/filter/modals/components/count-input.tsx
  apps/web/common/components/Header/filter/modals/filter-activity.tsx
  apps/web/common/components/Header/filter/modals/filter-property.tsx
  apps/web/common/components/Header/filter/modals/filter-rental.tsx
  apps/web/common/components/Header/filter/modals/hooks/useGetFilteredProperty.tsx
  apps/web/common/components/Header/filter/modals/reducer/activity-reducer.tsx
  apps/web/common/components/Header/filter/modals/reducer/property-reducer.tsx
  apps/web/common/components/Header/filter/modals/reducer/rental-reducer.tsx
  apps/web/common/components/Header/filter/modals/show-more-filters/amenities/amenities-checkboxes.tsx
  apps/web/common/components/Header/filter/modals/show-more-filters/amenities/index.tsx
  apps/web/common/components/Header/filter/modals/show-more-filters/facilities/facilities-checkboxes.tsx
  apps/web/common/components/Header/filter/modals/show-more-filters/facilities/index.tsx
  apps/web/common/components/Header/filter/store/use-select-amenity-store.ts
  apps/web/common/components/Header/filter/store/use-select-facility-store.tsx
  apps/web/common/components/Header/index.tsx
  apps/web/common/components/ui/slider.tsx
  apps/web/dummy.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: frontend, minor, guest account, listing, search page
